<div class="main-page login-page ">
	<h3 class="title1">
		Send Message
	</h3>

	<div class="login-top"></div>
	<div class="widget-shadow">
		<div class="login-body">
			<%= form_for(Message.new) do |f| %>
				
				<%= f.hidden_field :recipient_id, :value => user.id %>

				<%= f.text_field :subject, :placeholder => "Message Title" %>
				<%= f.text_area :body, :placeholder => "Type Your Message", :rows => "3", :style => "resize:none;" %>

				<button class="btn btn-success form-control">
					<span class="fa fa-envelope"></span> Send Message
				</button>
			<% end %>
		</div>
	</div>
</div>