<div class="row calender widget-shadow messages-box"> 
	<div class="col-lg-12 col-md-12 col-sm-12">
		<h3 class="title"> <%= @title %> </h3>

		<% @messages.each do |message| %>

			<div class="card cards">
				<div class="row">
					
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-1 col-md-2 col-sm-3 user-avatar-colum">
							<a class="user username green" href="<%= profile_user_path(message.sender) %>">
								<%= message.sender.username %>
							</a>
						</div>

						<div class="col-lg-1 col-md-2 col-sm-3">

							<% if @title.include?("Inbox") %>
								<a href="#" data-target="<%= message.id %>" class="reply-message pop-click" data-popup-open="popup-message-<%= message.sender.id %>">
									<span class="fa fa-reply price-text-color"></span>
								</a>
								<%= render :template => "messages/new", :locals => {:user => message.sender } %>
							<% end %>

							&nbsp;&nbsp;
							
							<% unless @title.include?("Trash") %>
								<a href="#" data-target="<%= message.id %>" class="delete-message">
									<span class="fa fa-trash price-text-color"></span>
								</a>
							<% end %>
						</div>

						<div class="col-lg-9 col-md-8 col-sm-6 comment-colum">
							<p class="message-text">
								<a href="<%= message_path(message) %>" class="green">
									<%= message.subject.truncate(25, :omission => "...") %>
								</a>

								<span> <%= message.body.truncate(75, :omission => "...") %> </span>
							</p>
						</div>
					</div>
					
				</div>
			</div>

		<% end %>
	</div>
</div>
