<div class="popup popup-message" data-popup="popup-message-<%= user.id %>">
	<div class="popup-close-overlay" data-popup="popup-message-<%= user.id %>" data-popup-close="popup-message-<%= user.id %>">
	</div>
	<div class="popup-outer">
		<div class="popup-inner">
			<%= render :partial => "messages/form", :locals => {:user => user} %>
			<a class="popup-close" data-popup-close="popup-message-<%= user.id %>">x</a> 
		</div>
	</div>
</div>