<div class="row calender widget-shadow messages-box"> 
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-lg-3 col-md-6 col-sm-6 user-avatar-colum">
					<a class="user text-center" href="<%= profile_user_path(current_user) %>">
						<img src="<%= @message.sender.photo(:thunb) %>" class="img-responsive center-block">
						<div class="username green">
							<%= @message.sender.username %>
						</div>
					</a>
				</div>

				<div class="col-lg-9 col-md-6 col-sm-6 message-text">

					<div>
						<% unless (@message.recipient_trashed || @message.sender_trashed) %>

							<% unless @message.recipient == current_user %>
								<a href="#" data-target="<%= @message.id %>" class="reply-message pop-click" data-popup-open="popup-message-<%= @message.sender.id %>">
									<span class="green fa fa-reply price-text-color"></span>
								</a>
								<%= render :template => "messages/new", :locals => {:user => @message.sender } %>
							<% end %>

							<a href="<%= message_path(@message) %>" data-method="DELETE">
								<span class="green fa fa-trash price-text-color"></span>
							</a>
						<% end %>
						| <%= timeago(@message.created_at) %>
					</div>

					<h4>
						<%= @message.subject %>
					</h4>
					<p> <%= @message.body %> </p>
				</div>
			</div>
		</div>
	</div>
</div>
