<div class="main-page signup-page">
	<h3 class="title1">
		SignUp Please
	</h3>
	<div class="sign-up-row widget-shadow">
		<div class="login-top">
			<h4>Welcome new User !</h4>
		</div>
		<div class="signup-body">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>

				<span class="small-font-size text-danger">
					<%= resource.errors.full_messages_for(:name).first %>
				</span>
				<%= f.text_field :name, :placeholder => "Enter your name", :class => "name" %>

				<span class="small-font-size text-danger">
					<%= resource.errors.full_messages_for(:username).first %>
				</span>
				<%= f.text_field :username, :placeholder => "Enter your username", :class => "username" %>

				<span class="small-font-size text-danger">
					<%= resource.errors.full_messages_for(:email).first %>
				</span>
				<%= f.text_field :email, :placeholder => "Enter your email", :class => "email" %>

				<span class="small-font-size text-danger">
					<%= resource.errors.full_messages_for(:password).first %>
				</span>
				<%= f.password_field :password, :placeholder => "Enter your password", :class => "password1" %>

				<span class="small-font-size text-danger">
					<%= resource.errors.full_messages_for(:password_confirmation).first %>
				</span>
				<%= f.password_field :password_confirmation, :placeholder => "Confirm your password", :class => "password2" %>

				<div class="popup-bio">
					<%= f.text_area :bio, :placeholder => "Write about yourself", :rows => "3", :style => "resize: none;", :class => "form-control" %>
				</div>

				<span class="small-font-size text-danger">
					<%= resource.errors.full_messages_for(:photo).first %>
				</span>
				<br>
				<%= f.file_field :photo, :placeholder => "Add profile picture", :id => "upload-profile-picture" %>
				<label id="profile-pic-upload-label" for="upload-profile-picture" class="label-default">
					<span class="fa fa-upload"></span> &nbsp;&nbsp;Add profile picture
				</label>

				<div class="forgot-grid">
					<label class="checkbox">
						<input type="checkbox" name="checkbox" checked=""> I accept Now
					</label>
					<div class="clearfix"></div>
				</div>
				<input type="submit" name="submit" value="Submit">
			<% end %>
			<div class="clearfix"></div>
		</div>
	</div>
</div>