<div class="popup" data-popup="popup-comment">
	<div class="popup-close-overlay" data-popup="popup-comment" data-popup-close="popup-comment"> </div>
	<div class="popup-outer">
		<div class="popup-inner">
			<div id="video-comments-popup-content">
				<%= render :partial => "comments/users_comment", :locals => {:video => video} %>
			</div>
			<a class="popup-close" data-popup-close="popup-comment">x</a>
		</div>
	</div>
</div>