<% if current_user %>
	<%= form_for(Comment.new) do |f| %>
		<%= f.hidden_field :video_id, :value => video.id %>
		<%= f.hidden_field :parent_id, :value => nil %>

		<div class="col-lg-1 col-md-1 col-sm-1 user-avatar-colum">
			<a id="user1" class="user" href="profile.html">
				<img src="<%= current_user.photo.url(:thumb) %>">
			</a>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 comment-colum">
			<%= f.text_area :message, :placeholder => "Your Comment", :rows => "2", :cols => "30", :style => "resize:none;" %>
			<div class="comment-simplebox-arrow">
				<div class="arrow-inner"></div>
				<div class="arrow-outer"></div>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 post-btn-colum">
			<a href="#" class="new-comment-create">
				<button class="btn btn-success">
					<span class="fa fa-commenting"></span> Post Comment
				</button>
			</a> 
		</div>
	<% end %>
<% end %>