<% if current_user %>
	<%= form_for(Comment.new) do |f| %>
		<%= f.hidden_field :video_id, :value => video.id %>
		<%= f.hidden_field :parent_id, :value => comment.id %>


		<div class="col-lg-1 col-md-1 col-sm-1 user-avatar-colum">
			<a id="user1" class="user" href="<%= profile_user_path(current_user) %>">
				<img src="<%= current_user.photo.url(:thumb) %>">
			</a>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 comment-colum">
			<%= f.text_area :message, :placeholder => "Reply to Comment", :rows => "2", :cols => "30", :style => "resize:none;" %>
			<div class="comment-simplebox-arrow">
				<div class="arrow-inner"></div>
				<div class="arrow-outer"></div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 post-btn-colum">
			<a href="#" class="comment-reply-button">
				<button class="btn btn-success">
					<span class="fa fa-reply"></span>Reply
				</button>
			</a> 
		</div>
	<% end %>
<% end %>