<div class="comment-bar">
	<p class="title"> <strong> Comments </strong> </p>
	<ul>
		<li>
			<%= render :partial => "comments/form", :locals => {:video => video} %>
		</li>

		<% video.comments.parent_comments.reverse.each do |comment| %>
			<li> <%= render :partial => "comments/single_comment", :locals => {:comment => comment} %> </li>
			<li class="reply second" id="comment-reply-<%= comment.id %>">
				<%= render :partial => "comments/reply_form", :locals => {:video => video, :comment => comment} %>
			</li>

			<% comment.replies.each do |reply| %>
				<li class="reply">
					<%= render :partial => "comments/single_reply", :locals => {:reply => reply} %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>