<%= form_for(Pledge.new) do |f| %>

	<%= f.hidden_field :channel_id, :value => video.channel.id %>
	<%= f.hidden_field :video_id, :value => video.id %>

	<a href="" class="submit-new-pledge">
		<span class="price-text-color fa fa-money" type="submit"></span>
	</a>
<% end %>