<%= form_tag path do %>
	<script src = "https://checkout.stripe.com/checkout.js"
		class = "stripe-button"
		data-key = "<%= STRIPE_CONFIG[:publishable_key] %>"
		data-description = "<%= title %>"
		data-amount = "<%= amount %>"
		data-locale = "auto">
	</script>
<% end %>