<div class="row calender widget-shadow">
	<div class="col-lg-10 col-md-12 col-sm-12">
		<h3 class="title"> Shopping Cart </h3>

		<% @pledges.each do |pledge| %>

			<div class="card cards">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-5 col-md-12 col-sm-12">
							<div class="shop-vdo-left">
								<h4>
									<a href="<%= video_path(pledge.video) %>">
										<%= pledge.video.title %>
									</a>
									<span class="shop-vdo-by"> - By
										<a href="<%= profile_user_path(pledge.video.user) %>">
											<%= pledge.video.user.name %>
										</a>
									</span>
								</h4>

								<figure>
									<img src="<%= pledge.video.video.url(:medium) %>" alt="" class="dummy img-responsive hoverZoomLink">
								</figure>
							</div>
						</div>

						<div class="col-lg-7 col-md-12 col-sm-12 porro">
							<div class="shop-vdo-right">
								<%= render :partial => "pledges/cart_form", :locals => {:pledge => pledge } %>

								<p>
									<strong> About: </strong>
									<%= pledge.video.description.html_safe %>
								</p>
								<p>
									<strong> Views: </strong>
									<span class="fa fa-user"></span>
									<span class="tags"> <%= pledge.video.total_views %> </span>
								</p>

								<p>
									<strong> Upload: </strong>
									<span class="fa fa-clock-o"></span>
									<span class="tags"> - <%= timeago(pledge.video.created_at) %> </span>
								</p>

								<p>
									<strong> Rating: </strong>
									<span id="stars-default" class="rating-bar" data-rating="<%= pledge.video.total_rating %>">
										<input type=hidden name"rating"/>
									</span>
								</p>

								<p>
									<strong> Subscribe: </strong>
									<span class="fa fa-envelope"></span>
									<span class="tags">40,000</span>
								</p>

								<p>
									<strong> Comment: </strong>
									<span class="price-text-color fa fa-comment"></span>
									<span class="tags"> <%= pledge.video.total_comments %> </span>
								</p>

								<div class="share">
									<strong> Share: </strong>
									<div class="addthis_sharing_toolbox social-bar"></div>
								</div>

								<div class="sc-btn">
									<a href="<%= pledge_path(pledge) %>" class="btn btn-sm btn-danger" data-method="DELETE">
										Remove
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<% end %>

		<div class="row">
			<div class="col-sm-12">
				<div class="main-pay-btn">
					
					<% amount = calculate_strip_money(current_user.unpaid_pledges_amount) %>
					<% title = STRIPE_CONFIG[:title] %>
					<%= render :partial => "pledges/stripe_form", :locals => {:amount => amount, :title => title, :path => charges_pledges_path} if current_user.unpaid_pledges_amount > 0 %>
					
				</div>
			</div>
		</div>
	</div>
</div>
