<div class="popup" data-popup="popup-status-comment-<%= status.id %>">
	<div class="popup-close-overlay" data-popup="popup-status-comment-<%= status.id %>" data-popup-close="popup-status-comment-<%= status.id %>"> </div>
	<div class="popup-outer">
		<div class="popup-inner" id="content-status-comments-<%= status.id %>">
			<%= render :partial => "user_status_comments/users_comment", :locals => {:status => status} %>
			<a class="popup-close" data-popup-close="popup-status-comment-<%= status.id %>">x</a>
		</div>
	</div>
</div>