<div class="col-lg-1 col-md-1 col-sm-1 user-avatar-colum">
	<a class="user" href="<%= profile_user_path(comment.user) %>">
		<img src="<%= comment.user.photo(:thunb) %>"/>
	</a>
</div>
<div class="col-lg-11 col-md-11 col-sm-11 comment-colum">
	<span class="username green">
		<a href="<%= profile_user_path(comment.user) %>"> #<%= comment.user.username %> </a>
	</span>
	<div class="comment-tools">
		<a class="toggle-status-comment-reply" data-target="#status-comment-reply-<%= comment.id %>">
			<span class="fa fa-reply price-text-color"></span>
		</a>
		<% if comment.user == current_user %>
			<a href="#" class="edit-status-comment-btn" data-id="<%= comment.id %>">
				<span class="fa fa-edit price-text-color"></span>
			</a>
			<a href="#" class="delete-status-comment" data-id="<%= comment.id %>">
				<span class="fa fa-trash price-text-color"></span>
			</a>
		<% end %>
	</div>
	<p class="status-text-<%= comment.id %>">
		<%= comment.complete_message.html_safe %>
	</p>

	<div class="status-text-<%= comment.id %>" style="display:none;">
		<div class="col-lg-9 col-md-9 col-sm-9">
			<%= text_area_tag :message, comment.message, :placeholder => "Your Comment", :rows => "2", :cols => "30", :style => "resize:none;" %>
		</div>

		<a href="#" class="update-status-comment-btn col-lg-1 col-md-1 col-sm-1" data-id="<%= comment.id %>">
			<button class="btn btn-success">
				<span class="fa fa-commenting"></span> Update
			</button>
		</a>
	</div>
</div>