<div class="col-lg-1 col-md-1 col-sm-1 user-avatar-colum">
	<a id="user1" class="user" href="profile.html">
		<img src="<%= reply.user.photo(:thunb) %>">
	</a>
</div>
<div class="col-lg-11 col-md-11 col-sm-11 comment-colum">
	<span class="username green">
		<a href="profile.html"> #<%= reply.user.username %> </a>
	</span>
	<div class="comment-tools">
		<% if reply.user == current_user %>
			<a href="#" class="edit-comment-btn" data-id="<%= reply.id %>">
				<span class="fa fa-edit price-text-color"></span>
			</a>
			<a href="#" class="delete-status-comment" data-id="<%= reply.id %>">
				<span class="fa fa-trash price-text-color"></span>
			</a>
		<% end %>
	</div>
	<p class="message-text-<%= reply.id %>">
		<%= reply.complete_message.html_safe %>
	</p>

	<div class="message-text-<%= reply.id %>" style="display:none;">
		<div class="col-lg-9 col-md-9 col-sm-9">
			<%= text_area_tag :message, reply.message, :placeholder => "Your Comment", :rows => "2", :cols => "30", :style => "resize:none;" %>
		</div>

		<a href="#" class="update-status-comment-btn col-lg-1 col-md-1 col-sm-1" data-id="<%= reply.id %>">
			<button class="btn btn-success">
				<span class="fa fa-commenting"></span> Update
			</button>
		</a>
	</div>
</div>