<div class="comment-bar">
	<p class="title"> <strong> Comments </strong> </p>
	<ul>
		<li>
			<%= render :partial => "user_status_comments/form", :locals => {:status => status} %>
		</li>

		<% status.user_status_comments.parent_comments.reverse.each do |comment| %>
			<li>
				<%= render :partial => "user_status_comments/single_comment", :locals => {:comment => comment} %>
			</li>
			<li class="reply second" id="status-comment-reply-<%= comment.id %>">
				<%= render :partial => "user_status_comments/reply_form", :locals => {:status => status, :comment => comment} %>
			</li>

			<% comment.replies.each do |reply| %>
				<li class="reply">
					<%= render :partial => "user_status_comments/single_reply", :locals => {:reply => reply} %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>