<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<%= form_for(@theme) do |f| %>

			<ul class="text-danger">
				<% @theme.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>

			<div class="form-group">
				<%= f.text_field :name, :placeholder => "Theme Name", :class => "form-control" %>
			</div>
			<div class="form-group">
				<%= f.text_field :html_class, :placeholder => "Theme Icon Class", :class => "form-control" %>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary form-control"> Create Theme </button>
			</div>
		<% end %>
	</div>
</div>