<h2 class="text-center"> All Themes </h2>

<div class="row table-responsive">
	<div class="col-md-4 col-md-offset-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th> Name </th>
					<th>  </th>
					<th>  </th>
				</tr>
			</thead>

			<tbody>
				<% @themes.each do |theme| %>
					<tr>
						<td><%= theme.name %></td>
						<td><%= link_to "Edit", edit_theme_path(theme) %></td>
						<td><%= link_to "Destroy", theme, method: :delete, data: { confirm: "Are you sure?" } %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= link_to "Create New Theme", new_theme_path %> <br>
<%= link_to "Admin Area", admin_path %>
