<div class="row calender widget-shadow"> 
	<div class="col-lg-10 col-md-12 col-sm-12">
		<h3 class="title"> <%= @theme.name %> </h3>

		<% @videos.each do |video| %>

			<div class="card cards">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-4 col-md-12 col-sm-12 text-center">
							<figure>
								<a href="<%= video_path(video) %>">
									<img src="<%= video.video.url(:medium) %>" alt="" class="dummy img-responsive">
								</a>
							</figure>
						</div>
						<div class="col-lg-8 col-md-12 col-sm-12 porro">
							<h4>
								<a href="<%= video_path(video) %>">
									<%= video.title %>
								</a>
							</h4>
							<p>
								<strong>About: </strong> <%= video.description %>
							</p>
							<p>
								<strong>Views: </strong>
								<span class="fa fa-user"></span>
								<span class="tags"> <%= video.impressionist_count(:filter => :session_hash) %> </span>
							</p>
							<p>
								<strong> Upload: </strong>
								<span class="fa fa-clock-o"></span>
								<span class="tags"> <%= timeago(video.created_at) %> </span>
							</p>

							<p>
								<strong>Rating: </strong>
								<span id="stars-default" class="rating-bar" data-rating="<%= video.total_rating %>">
									<input type=hidden name"rating">
								</span>
							</p>
							<p>
								<strong>Subscribe: </strong>
								<span class="fa fa-envelope"></span>
								<span class="tags"> <%= video.user.being_followed_by.length %> </span>
							</p>
							<div class="comment">
								<strong>Comment: </strong>
								<span class="price-text-color fa fa-comment"></span>
								<span class="tags"> <%= video.comments.length %> </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<%= render :partial => "layouts/pagination", :locals => {:collection => @videos} unless @videos.empty? %>