<%= form_tag status_user_path do %>
	<textarea class="form-control" name="body" rows="3" placeholder="Whats happening..." style="resize:none;" ></textarea>
	<button class="btn btn-sm btn-success" type="submit">
		Post
	</button>
<% end %>