<div class="row">
	<div class="col-sm-12">
		<div class="profile-feed-full">
			
			<ul class="nav profile-feed-nav" role="tablist">
				<li role="presentation" class="active">
					<a href="#own" aria-controls="own" role="tab" data-toggle="tab">
						Own Post
					</a>
				</li>

				<li role="presentation">
					<%= link_to "Friend Post", "#friends", :"aria-controls" => "friends", :role => "tab" , :toggle => "tab" if current_user == @user %>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active col-sm-6" id="own">
			
					<div class="post-feed post-status-form">
						<%= render :partial => "user_statuses/user_status_form" %>
					</div>

					<%= render :partial => "users/user_statuses", :locals => {:user => @user} %>
				</div>

				<div role="tabpanel" class="tab-pane col-sm-6" id="friends">
					<%= render :partial => "users/user_shared_statuses", :locals => {:user => @user}  if current_user == @user %>
				</div>
			</div>
		</div>
	</div>
</div>