<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>
			Video has been reported for inappropriate content
		</p>
		<p>
			Video: <%= @video.title %> <br>
			<%= link_to "Click here to view", video_url(@video) %>
		</p>
	</body>
</html>