<%= form_tag follow_users_path do %>
	<input type="hidden" name="user_id" value="<%= user.id %>">
	<button class="btn btn-sm btn-default btn-block bgs">
		<span class="fa fa-plus-circle"></span> Follow
	</button>
<% end %>