<div class="feed-text-full">

	<% user.personal_statuses.each do |status| %>

		<div class="feed-text-single">
			<div class="feed-text-single-header">
				<a href="<%= profile_user_path(status.user) %>">
					<img src="<%= status.user.photo.url(:thumb) %>" alt="">
				</a>
				<a href="<%= profile_user_path(status.user) %>">
					<h4> <%= status.user.name %> </h4>
				</a>
				<p class="small-font-size"> <%= timeago(status.created_at) %> </p>
			</div>
			<div class="feed-text-single-content">
				<p> <%= status.body.html_safe %> </p>
			</div>

			<% if current_user.has_active_subscription? %>
				<div class="feed-text-single-footer">
					<a href="<%= like_user_status_path(status) %>" class="status-like-button">
						<i class="fa fa-heart"></i> <%= status.total_likes %> Likes
					</a>
					
					<a class="pop-click" data-popup-open="popup-status-comment-<%= status.id %>">
						<i class="fa fa-comment"></i>
						Comment
					</a>
					<% if @user != current_user %>
						<a href="<%= share_user_status_path(status) %>">
							<i class="fa fa-share"></i>
							Share
						</a>
					<% end %>
				</div>
			<% end %>
		</div>	

		<%= render :partial => "user_status_comments/comments_popup", :locals => {:status => status} %>
	<% end %>
</div>
