<div class="popup popup-withdraw" data-popup="popup-withdraw-<%= user.id %>">
	<div class="popup-close-overlay" data-popup="popup-withdraw-<%= user.id %>" data-popup-close="popup-withdraw-<%= user.id %>">
	</div>
	<div class="popup-outer">
		<div class="popup-inner">
			<div class="main-page login-page ">
				<h3 class="title1">
					Withdraw Money
				</h3>

				<div class="login-top"></div>
				<div class="widget-shadow">
					<div class="login-body">
						<%= form_tag(withdraw_path, :method => "post") do %>

							<%= text_field_tag :amount, "", :placeholder => "Amount (in dollar)" %>

							<button class="btn btn-success form-control">
								<span class="fa fa-university"></span> Withdraw
							</button>
						<% end %>
					</div>
				</div>
			</div>

			<a class="popup-close" data-popup-close="popup-withdraw-<%= user.id %>">x</a> 
		</div>
	</div>
</div>