<div class="">
	<h3 class="title1"> Edit Profile </h3>
	<div class="fb-profile">

		<%= form_for(@user, :html => { :multipart => true }) do |f| %>
		
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="cover-photo-area">
					<img align="left" class="fb-image-lg" src="<%= @user.banner.url%>" alt="Profile image example">

					<%= f.file_field :banner %>
					<p>Change Cover Photo</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="profile-thumb-area">
					<img align="left" class="fb-image-profile fb-image-profile-edit thumbnail" src="<%= @user.photo.url %>" alt="Profile image example">

					<%= f.file_field :photo %>
					<p align="center"> Change Profile Picture </p>

					<%= f.text_area :bio, :class => "form-control", :row => "3", :placeholder => "You can update your bio here...", :style => "resize:none;" %>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label for="user_name"> Name </label>
					<%= f.text_field :name, :class => "form-control" %>
				</div>

				<div class="form-group">
					<label for="user_username"> Username </label>
					<%= f.text_field :username, :class => "form-control" %>
				</div>

				<div class="form-group">
					<span class="small-font-size text-danger">
						<%= @user.errors.full_messages_for(:password).first %>
					</span>
					<label for="user_password"> Password </label>
					<%= f.password_field :password, :class => "form-control" %>
				</div>

				<div class="form-group">
					<label for="user_password_confirmation"> Confirm your password </label>
					<%= f.password_field :password_confirmation, :class => "form-control" %>
				</div>

			<hr>
			<h4> Bank Information: </h4> <br>

			<div class="form-group">
				<label for="user_account"> Account Number </label>
				<%= f.text_field :account, :class => "form-control" %>
			</div>

			<div class="form-group">
				<label for="user_routing_number"> Routng Number </label>
				<%= f.text_field :routing_number, :class => "form-control" %>
			</div>

			<div class="form-group">
				<label for="user_country"> Country </label>
				<%= f.text_field :country, :class => "form-control" %>
			</div>

			<br/>
			<br/>
				<p align="center">
					<button name="save" class="btn btn-sm btn-success col-sm-4" type="submit">
						<i class="fa fa-save"></i> 
						&nbsp;&nbsp;Save
					</button>
					
					&nbsp;&nbsp;
					
					<a href="<%= profile_user_path(@user) %>" class="btn btn-sm btn-default">
						<i class="fa fa-close"></i>
						&nbsp;&nbsp;Cancel
					</a>
				</p>
			</div>
		<% end %>
	</div>
</div>