<h3 class="title1"> Profile Page </h3>
<div class="fb-profile">
	<img align="left" class="fb-image-lg" src="<%= @user.banner.url%>" alt="Profile image example">
	<img align="left" class="fb-image-profile thumbnail" src="<%= @user.photo.url if @user.photo %>">

	<div class="fb-profile-text">
		<h4> <%= @user.name %> </h4>
		<p class="small-font-size">
			Followed By: <%= @user.being_followed_by.length %>
			<br>
			Following: <%= @user.following_other_users.length %>
		</p>
		<p class="pro-bio">
			<%= @user.bio %>
		</p>
	</div>
</div>

<div class="well">
	<div class="media">

		<% if @user != current_user and current_user.has_active_subscription? %>
			<div class="col-md-2 col-xs-2">
				<button class="btn btn-sm btn-success pop-click" data-popup-open="popup-message-<%= @user.id %>">
					<i class="fa fa-envelope"></i> &nbsp; Message
				</button>
				<%= render :template => "messages/new", :locals => {:user => @user } if current_user %>
			</div>

			<div class="col-md-3 col-xs-3">
				<%= render :partial => "users/following_form", :locals => {:user => @user } if current_user %>
			</div>
		<% end %>
		<% if @user == current_user %>
			<div class="col-md-3 col-xs-3" style="padding: 6px !important;">
				Total Amount Owned:
				<i class="fa fa-dollar"></i> <%= @user.money_owned_after_system_deduction %>
			</div>
			<div class="col-md-2 col-xs-2">
				<button class="btn btn-sm btn-success pop-click" data-popup-open="popup-withdraw-<%= @user.id %>">
					Withdraw
				</button>
				<%= render :partial => "users/withdraw_form", :locals => {:user => @user } %>
			</div>
		<% end %>

		<div class="col-md-7 col-xs-7">
			<% if @user == current_user %>
				<span class="pull-right a-pro-btn2">
					<a href="<%= profile_edit_user_path(current_user) %>">
						<button class="btn btn-sm btn-success " type="button" data-toggle="tooltip" data-original-title="Edit this user">
							<i class="fa fa-edit"></i> &nbsp; Edit
						</button>
					</a>
				</span>
			<% end %>
		</div>
	</div>
</div>


<%= render :template => "user_statuses/user_status_list", :locals => {:user => @user} if current_user.has_active_subscription? %>

<%= render :partial => "videos/fresh_uploads", :locals => {:fresh_videos => @user.videos} %>