<div class="main-page login-page ">
	<h3 class="title1"> Reset Password </h3>
	<div class="widget-shadow">
		<div class="login-top">
			<h4>Get Password Now! <br>
				Not a Member?
				<a class="pop-click sign-up-click" data-popup-open="popup-signup">
					Sign Up »
				</a> 
			</h4>
		</div>
		<div class="login-body">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

				<%= f.text_field :email, :placeholder => "Enter your email", :class => "user" %>

				<input type="submit" name="Sign In" value="Submit Now">
				<div class="clearfix"></div>
			<% end %>
		</div>
	</div>
</div>