<div class="main-page login-page upload-page-popup">
	<h3 class="title1"> Upload Video </h3>
	<div class="login-top"></div>
	<div class="widget-shadow">
		<div class="login-body">

			<% random_id = SecureRandom.hex %>

			<%= content_tag :div, @new_video.errors.full_messages.first, class: "alert alert-success card" unless @new_video.errors.empty? %>

			<% if (not @new_video.errors.empty?) and @new_video.errors.full_messages.first.include?(" duration ") and current_user and (not current_user.has_active_subscription?) %>
				<div class="alert alert-success card">
					You can avail more features by subscribing Spooph. Click
					<a href="new_subscription_path"> <i> Spoophalicious </i> </a> to subscribe.
				</div>
			<% end %>

			<%= form_for(@new_video, :html => {:class => "upload-category"}) do |f| %>
				<% half = @themes.length / 2 %>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<% @themes[0..half].each do |theme| %>

						<% theme_id_adjustment = theme.name.gsub(" ", "-") + "-" + random_id %>
						
						<div class="form-group">
							<input type="checkbox" name="video[themes][]" id="<%= theme_id_adjustment %>" autocomplete="off" value="<%= theme.id %>">
							<div class="btn-group">
								<label for="<%= theme_id_adjustment %>" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"> </span> <span> </span>
								</label>
								<label for="<%= theme_id_adjustment %>" class="btn btn-default active">
									<%= theme.name %>
								</label>
							</div>
						</div>
					<% end %>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<% @themes[half + 1..-1].each do |theme| %>

						<% theme_id_adjustment = theme.name.gsub(" ", "-") + "-" + random_id %>

						<div class="form-group">
							<input type="checkbox" name="video[themes][]" id="<%= theme_id_adjustment %>" autocomplete="off" value="<%= theme.id %>">
							<div class="btn-group">
								<label for="<%= theme_id_adjustment %>" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"> </span> <span> </span>
								</label>
								<label for="<%= theme_id_adjustment %>" class="btn btn-default active">
									<%= theme.name %>
								</label>
							</div>
						</div>
					<% end %>
				</div>
				
			
				<%= f.text_field :title, :placeholder => "Video Title", :class => "video-title" %>

				<%= f.text_area :description, :placeholder => "Video Description", :class => "form-control", :style => "resize: none;", :rows => "3" %>				
				<%= f.file_field :video, :class => "upload-video" %>

				<button class="btn btn-success sb-upload-btn">
					<span class="fa fa-upload"></span> Upload
				</button>
				<div class="clearfix"></div>
			<% end %>
		</div>
	</div>
</div>