<div class="row calender widget-shadow">
	<div class=" col-lg-9 col-md-9 col-sm-9">
		<h3> New videos </h3>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="controls pull-right">
			<a id="prevButton" class="left fa fa-chevron-left btn btn-success"></a>
			<a id="playButton" class="left fa fa-play btn btn-success"></a>
			<a id="pauseButton" class="right fa fa-pause btn btn-success"></a>
			<a id="nextButton" class="right fa fa-chevron-right btn btn-success"></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-md-12 col-sm-12">
		<div id="carousel-example1" class="carousel slide " data-ride="carousel">
			<div class="carousel-inner">

				<% fresh_videos.each_with_index do |video, index| %>

					<% open_top_tags = index == 0 || ((index + 1) % 5 == 0) %>
					<% close_bottom_tags = ((index + 1) % 4 == 0) || fresh_videos.length == index + 1 %>

					<% if open_top_tags %>
						<div class="item <%= "active" if index == 0 %>">
							<div class="row">
					<% end %>
								<div class="col-sm-3">
									<div class="col-item">
										<div class="photo">
											<a href="<%= video_path(video) %>">
												<img src="<%= video.video.url(:medium) %>" class="img-responsive" alt="a" />
											</a>
										</div>

										<div class="info">
											<div class="row">
												<div class="price col-md-6">
													<p>
														<span class="fa fa-eye"></span>
														<span class="tags"> <%= video.impressionist_count(:filter => :session_hash) %> </span>
													</p>
												</div>
												<div class="rating  col-md-6">
													<span id="stars-default" class="rating-bar" data-rating="<%= video.total_rating %>">
														<input type=hidden name"rating"/>
													</span>
												</div>
											</div>

											<div class="separator clear-left">
												<a href="<%= video_path(video) %>">
													<p>
														<i class="price-text-color fa fa-caret-square-o-right"></i>
														See Now
													</p>
												</a>
											</div>
											<div class="clearfix"> </div>
										</div>
									</div>
								</div>

						<% if close_bottom_tags %>
							</div>
						</div>
					<% end %>

				<% end %>
			</div>
		</div>
	</div>
</div>