<div class="popup popup-upload" data-popup="popup-upload">
	<div class="popup-close-overlay" data-popup="popup-upload" data-popup-close="popup-upload"> </div>
	<div class="popup-outer">
		<div class="popup-inner">
			<%= render :template => "videos/new", :locals => {:@new_video => Video.new } %>
			<a class="popup-close" data-popup-close="popup-upload">x</a> 
		</div>
	</div>
</div>
