<form class="input" method="get" action="<%= search_videos_path %>">
	<input class="sb-search-input" name="query" placeholder="Search..." type="search" id="input-31" />
	<button class="btn btn-success sb-search-btn" type="submit">
		<span class="fa fa-search"></span>
	</button>
</form>