<div class="row video-info">
	<div class="price col-md-2" style="padding-right: 0px;">
		<p>
			<span class="price-text-color fa fa-eye"></span>
			<span class="tags"> <%= video.total_views %> </span>
		</p>
	</div>

	<div class="price col-md-2" style="padding-right: 0px;">
		<a href="<%= like_video_path(video) %>">
			<span class="price-text-color fa fa-heart"></span>
			<span class="tags"> <%= video.video_likes.count %> </span>
		</a>
	</div>
	
	<div class="price col-md-2" style="padding-right: 0px;">
		<p>
			<%= render :partial => "pledges/form", :locals => {:video => video} %>
		</p>
	</div>

	<form action="" method="post" class="rate-this-video">
		<%= csrf_meta_tags %>

		<input type=hidden name="video" value="<%= video.id %>">
		<div class="rating col-md-2" style="padding-right: 0px;">
			<span id="stars-default" class="rating-bar" data-rating="<%= video.total_rating %>">
				<input type=hidden name="rating">
			</span>
		</div>
	</form>

	<div class="comment col-md-2" style="padding-right: 0px;">
		<p class="btn-details">
			<a class="pop-click front-comment-btn" data-popup-open="popup-comment">
				<span class="price-text-color fa fa-comment"></span> <%= video.total_comments %>
			</a>
		</p>
	</div>
	
	<div class="col-md-1" style="padding-right: 0px;">
		<a href="<%= report_abuse_video_path(video) %>">
			<span class="text-danger fa fa-flag"></span>
		</a>
	</div>

	<div class="share-front col-md-1" style="padding-right: 0px;">
		<a class="pop-click" data-popup-open="popup-share">
			<span class="price-text-color fa fa-share-alt"></span>
		</a>

		<%= render :partial => "layouts/share_popup", :locals => {:video => video} %>
	</div>
</div>