<h2 class="text-center"> Favourite Videos </h2>

<div class="row table-responsive">
	<div class="col-md-4 col-md-offset-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2" class="text-center"> Video </th>
				</tr>
			</thead>

			<tbody>
				<% @video_subscriptions.each do |subscription| %>
					<tr>
						<td>
							<a href="<%= video_path(subscription.video) %>"> <img src="<%= subscription.video.video.url(:thumb) %>"> </a>
						</td>
						<td>
							<a href="<%= video_path(subscription.video) %>"> <%= subscription.video.title %> </a>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>