<h2 class="text-center"> Spooph of the Year Videos </h2>

<div class="row table-responsive">
	<div class="col-md-4 col-md-offset-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2" class="text-center"> Video </th>
				</tr>
			</thead>

			<tbody>
				<% @videos.each do |video| %>
					<tr>
						<td>
							<a href="<%= video_path(video) %>"> <img src="<%= video.video.url(:thumb) %>"> </a>
						</td>
						<td>
							<a href="<%= video_path(video) %>"> <%= video.title %> </a>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>