<div class="col-lg-5 col-md-12 col-sm-12">
	<h3 class="title"> More Videos </h3>
	<ul id="playlist">
		<% right_panel_videos[0..2].to_a.each do |video| %>
			<div class="card cards">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-4 col-md-12 col-sm-12 text-center">
							<figure>
								<a href="<%= video_path(video) %>">
									<img src="<%= video.video.url(:thumb) %>" alt="" class="dummy img-responsive">
								</a>
							</figure>
						</div>
						<div class="col-lg-8 col-md-12 col-sm-12 porro">
							<h4>
								<a href="<%= video_path(video) %>">
									<%= video.title %>
								</a>
							</h4>
							<p>
								<strong> Views: </strong>
								<span class="fa fa-user"></span>
								<span class="tags"> <%= video.impressionist_count(:filter => :session_hash) %> </span>
							</p>
							<p>
								<strong> Upload: </strong>
								<span class="fa fa-clock-o"></span>
								<span class="tags"> <%= timeago(video.created_at) %> </span>
							</p>
							<p>
								<strong> Rating: </strong>
								<span id="stars-default" class="rating-bar" data-rating="<%= video.total_rating %>">
									<input type=hidden name"rating">
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</ul>
</div>