<br>
<div class="row text-center">
	<diV class="col-md-6">
		<%= link_to "Themes Setting", themes_path, :class => "btn btn-success" %>
	</div>

	<diV class="col-md-6">
		<%= link_to "Flagged Videos", flagged_videos_path, :class => "btn btn-success" %>
	</div>
</div>