<div class="main-page contact-page">
	<h3 class="title1">Contact Now</h3>
	<div class="row">
		<div class="col-md-8">
			<form>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group ">
							<label for="name"> Name</label>
							<input type="text" class="form-control" id="name" placeholder="Enter name" required>
						</div>
						<div class="form-group">
							<label for="email"> Email Address</label>
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-envelope"></span>
								</span>
								<input type="email" class="form-control" id="email" placeholder="Enter email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="subject"> Subject</label>
							<select id="subject" name="subject" class="form-control" required>
								<option value="na" selected="">Choose One:</option>
								<option value="service">General </option>
								<option value="suggestions">Suggestions</option>
								<option value="product"> Support</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="name"> Message</label>
							<textarea name="message" id="message" class="form-control" rows="9" cols="25" required placeholder="Message"></textarea>
						</div>
					</div>
					<div class="col-md-12">
						<button type="submit" class="btnsc btn pull-right" id="btnContactUs"> Send Message</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-4">
			<form>
				<legend><span class="glyphicon glyphicon-globe"></span>&nbsp;Our office</legend>
				<address>
						<strong>Shooph, Inc.</strong><br>
						123 Folsom Ave, Suite 000<br>
						San Us, CA 94107<br>
						<abbr title="Phone"> P:</abbr> (123) 456-7890
						</address>
				<address>
						<strong>Full Name</strong><br>
						<a href="mailto:#">first.last@example.com</a>
						</address>
			</form>
		</div>
	</div>
</div>