<div class="row calender widget-shadow">
	<div class="col-lg-7 col-md-12 col-sm-12" id="home-main-vdo">
		<% if @main_video %>
			<div class="card">
				<div class="card-image">
					<div class="embed-responsive embed-responsive-16by9">
						<div class="vjs-watermark" style="opacity: 0.5;">
							<img src="<%= image_url("logo.png") %>">
						</div>
						
						<video id="videoarea" class="video-js vjs-default-skin vjs-big-play-centered" poster="<%= @main_video.video.url(:large) %>" src="<%= @main_video.video.url %>" controls preload="auto" data-setup="{}">
						</video>
					</div>
				</div>

				<div class="card-content"  id="show">
					<span class="card-title">
						<%= @main_video.title %>
					</span>
					<button type="button" class="btn btn-custom pull-right" aria-label="Left Align">
						<i class="fa fa-ellipsis-v"></i>
					</button>
				</div>

				<div class="card-reveal">
					<span class="card-title">
						<%= @main_video.title %>
					</span>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>

					<a href="profile.html">
						<img class="spotlight-profile-thumbnail pull-left" src="<%= image_url("avatar.jpg") %>" width="60" height="auto" alt="Profile picture">
					</a>

					<p> <%= @main_video.description %> </p>

					<p>
						<a href="<%= profile_user_path(@main_video.user) %>" class="btn btn-sm btn-info col-sm-3">
							View Profile
						</a>
					</p>
				</div>
			</div>

			<%= render :partial => "videos/video_stats", :locals => {:video => @main_video} %>
		<% end %>
	</div>

	<%= render :partial => "pages/right_video_panel", :locals => {:right_panel_videos => @right_panel_videos} unless @right_panel_videos.empty? %>
</div>

<%= render :partial => "videos/recent_views", :locals => {:recently_viewed_videos => @recently_viewed_videos} if current_user %>

<%= render :partial => "videos/fresh_uploads", :locals => {:fresh_videos => @fresh_videos} unless @fresh_videos.empty? %>

<%= render :partial => "comments/comments_popup", :locals => {:video => @main_video} if @main_video %>