<div class="main-page login-page ">
	<h3 class="title1">
		SignIn Please
	</h3>

	<div class="widget-shadow">
		<div class="login-top">
			<h4> Welcome back to User ! <br>
				<a class="pop-click sign-up-click" data-popup-open="popup-signup"> Sign Up »</a> 
			</h4>
		</div>

		<div class="login-body">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				
				<%= f.text_field :email, :placeholder => "Enter your email", :class => "user" %>
				<%= f.password_field :password, :placeholder => "Enter your password", :class => "lock" %>
				<input type="submit" name="Sign In" value="Sign In">

				<div class="forgot-grid">
					<label class="checkbox">
						<%= f.check_box :remember_me, :value => "1", :checked => "checked" %> Remember me
					</label>

					<div class="forgot">
						<a class="pop-click forgot-pass-click" data-popup-open="popup-forgot">
							forgot password?
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="login-page-bottom">
		<h5> - OR - </h5>
		<div class="social-btn">
			<a href="<%= user_omniauth_authorize_path(:facebook) %>">
				<i class="fa fa-facebook"></i>
				<i>Sign In with Facebook</i>
			</a>
		</div>
		<div class="social-btn sb-two">
			<a href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
				<i class="fa fa-google-plus"></i>
				<i>Sign In with Google</i>
			</a>
		</div>
	</div>
</div>