<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p> Channel: <%= @channel.name %> </p>
		<p> Video:
			<%= link_to "Click here to view", video_url(@video) %>
		</p>
	</body>
</html>