<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1> Subscription: <%= @days %> days Free </h1>
		<p>
			Dear <%= @user.email %>,
		</p>
		<p>
			You have got paid subscription for <%= @days %> days.
		</p>
	</body>
</html>