/********************************************************
This css write by Arup Mazumder
*********************************************************/
.banner-ad {
    text-align: center;
}
.popup {
	position: fixed!important;
    overflow-x: hidden;
    overflow-y: auto;
}
.popup-des {
    padding: 20px 0;
}
.popup-des p, .popup-des h1, .popup-des h2, .popup-des h3, .popup-des h4, .popup-des h5, .popup-des h6 {
    color: #aaa;
}
.popup-inner {
    top: 70px;
    left: 30%;
    -webkit-transform: inherit!important;
    transform: inherit!important;
    margin-bottom: 70px;
}
.popup-des textarea.form-control {
    padding: 10px;
    width: 100%!important;
    min-height: 110px;
}
.popup-bio {
    padding: 0 0 20px 0;
}
.popup-bio textarea.form-control {
    padding: 10px;
    width: 100%!important;
    min-height: 110px;
}
.profile-thumb-area textarea {
    margin: 20px 0!important;
    min-height: 80px;
}
.fb-profile-text p.pro-bio {
    font-size: 14px;
    max-width: 350px;
    padding-bottom: 10px;
}

.main-pay-btn {
    padding: 20px 0 0 0;
    overflow: hidden;
    text-align: center;
}
.main-pay-btn .col-sm-3 {
    float: none;
}
li.app-store a img {
    width: 80%!important;
}
.media .dropdown-menu .divider {
    margin: 5px 0;
}
ul.footer-menu li {
    display: inline-block;
    font-size: 14px;
    padding-right: 10px;
}
ul.footer-menu li:last-child {
    padding-right: 0px;
}
ul.footer-menu li a {
    color: #7A7676;
}
ul.footer-menu li a:hover {
    color: #66D223;
}
.faq-single {
    padding: 20px 0;
    border-bottom: 1px solid #DCDCDC;
}
.faq-single:last-child {
    padding: 0;
    border-bottom: 0px solid #DCDCDC;
}
.faq-single h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
}
.vjs-poster {
    z-index: 99!important;
}
.video-js .vjs-big-play-button {
    z-index: 999999!important;
}
label.input__label {
    display: none;
}


.profile-feed-full {
    background: #F5F5F5;
    overflow: hidden;
    padding: 8px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
ul.nav.profile-feed-nav {
    margin: 15px;
}
ul.nav.profile-feed-nav li {
    display: inline-block;
}
ul.nav.profile-feed-nav li a {
    min-width: 150px;
    text-align: center;
    border: 1px solid #66D223;
	background: #FFF;
    margin-bottom: 5px;
    border: 1px solid #66D223!important;
}	
ul.nav.profile-feed-nav li a:hover {
    border: 1px solid #66D223!important;
    background: #66D223!important;
}
ul.nav.profile-feed-nav li.active a {
    background: #66D223!important;
}
.post-feed {
	margin-bottom: 15px;
    max-width: 320px;
    overflow: hidden;
}
.post-feed textarea {
    width: 100%!important;
    min-height: 70px;
    margin: 0!important;
    margin-bottom: 10px!important;
}
.post-feed button {
    float: right;
    padding: 4px 30px;
    font-size: 15px;
}	
.feed-text-single {
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}	
.feed-text-single:last-child{
    border-top: 0px solid #E4E4E4;
    margin-top: 0px;
}
.feed-text-single-header {
    overflow: hidden;
}
.feed-text-single-header a img {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 10px;
}	
.feed-text-single-content {
    overflow: hidden;
    padding-top: 5px;
}
.feed-text-single-content p {
    line-height: 22px;
}
.feed-text-single-footer {
    border-top: 1px dotted #D4D4D4;
    margin-top: 5px;
    padding-top: 5px;
    display: inline-block;
}
.feed-text-single-footer a i {
    color: #66D223;
}
.feed-text-single-footer a {
    font-size: 13px;
    margin-right: 10px;
}			

#scrollUp {
    background-image: url("../images/top.png");
    background-repeat: no-repeat;
    background-position: 50% 48%;
    background-color: rgba(225, 196, 0, 0.85);
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
	background-color: #FF9400;
}
.go-top {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #66D223;
    z-index: 99999;
}
.go-top a{
    padding: 15px 12px;
    color: #fff;
    cursor: pointer;
    height: 45px;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    font-size: 30px;
}
.pagination-full {
    text-align: center;
}
.footer {
    z-index: 0;
}
.go-spo-btn a img {
    width: 15px;
    margin-right: 1px;
}
.go-spo-btn a {
    width: 90%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    background: #4A4A4A;
    margin: 0 0 10px 10px;
    overflow: hidden;
    display: block;
    color: #66D223;
    font-size: 18px;
    font-family: sans-serif;
    border-bottom: 2px solid #66D223;
    border-right: 2px solid #66D223;
}
.go-spo-btn a:hover {
    color: #FFF;
}
.shop-vdo-left h4{
	padding-top: 15px;
}
span.shop-vdo-by {
    font-size: 16px;
    font-weight: 600;
}
span.shop-vdo-by a{
	color: #4A4A4A;
}
.shop-vdo-right {
    padding-top: 15px;
}
.shop-vdo-right form input {
    width: 120px;
}
.year-vdo {
	text-align: center;
    padding-bottom: 50px;
}
.year-vdo-inner {
    width: 550px;
    display: inline-block;
    text-align: left;
}
.year-vdo-inner h3 {
    text-align: center;
}
.monthly-vdo {
    padding-bottom: 30px;
}
.monthly-vdo #videoarea {
    width: 100%;
    height: 210px;
}
.agree-confirm .form-group input[type="checkbox"] {
    display: block!important;
}
.agree-confirm {
    padding-left: 15px;
}
.popup-vdo-des {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}
.popup-vdo-des p {
    color: #FFF;
}





/********************************************************
This css for responsiveness
*********************************************************/

/* Large Layout: Greater than 1280px. */
@media only screen and (min-width: 1281px){
.cover-photo-area input[type="file"] {
    left: 50px;
}
.cover-photo-area p {
    left: 50px;
}
.sticky-header {
height: 90px;
}
label.input__label {
    display: none;
}
}

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1280px) { 
.search-box {
    width: 41%;
    margin: 0.1em 0 0 1.5em;
}
label.input__label {
    display: none;
}
.sb-search-input {
    width: 66%;
}
.header-left {
    width: 58%;
}
.a-top-btn1 {
    width: 28%;
}
.uploads {
    margin-top: 10px;
}
.header-right {
    width: 14%;
}
.signup_button {
	margin-top: 10px;
    display: inline-block;
}
.profile_details {
    margin-bottom: 15px;
}
.social-bar li {
    display: inline-block;
    margin-top: 6px;
}
.profile_details_left {
    float: left;
}
#page-wrapper {
    padding: 6.5em 2em 2.5em!important;
}
.popup-inner {
    top: 50px!important;
    left: 25%!important;
}
/*Profile Edit*/
.fb-image-profile.fb-image-profile-edit {
    margin: -90px 10px 0px 20px;
}
.fb-profile-text {
    margin-top: 100px;
}
.fb-profile-text {
    margin-top: 15px;
}
.cbp-spmenu-vertical {
    height: auto;
}
.sticky-header {
    position: absolute;
}
.cbp-spmenu {
    position: absolute;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.a-top-btn1 {
    width: 15%;
}
.header-left {
    float: left;
    width: 72%;
}
.header-right {
    width: 11%;
}
label.input__label {
    display: none!important;
}
.search-box {
    width: 50%;
    margin-left: 20px;
}
.sb-search-input {
    width: 64%;
}
.signup_button {
    margin-top: 10px;
}
.cbp-spmenu-push div#page-wrapper {
    padding: 11.5em 1.5em 2em!important;
}
.social-bar li {
    display: block;
    margin-top: 12px;
}
.popup-inner {
    top: 50px;
    left: 13%;
}
/*Profile edit*/
.fb-image-profile.fb-image-profile-edit {
    margin: -55px 10px 15px 20px;
}
.profile-thumb-area input[type="file"] {
    max-width: 180px;
    top: 0px;
}
/*Profile page*/
.fb-profile-text {
    margin-top: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
    overflow-y: scroll!important;
}

.sticky-header {
    position: absolute;
}
.cbp-spmenu {
    position: absolute;
}
.cbp-spmenu-vertical {
    height: auto;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.header-left {
    float: none!important;
    width: 100%!important;
}
.logo {
    width: 38%!important;
}
.search-box {
    width: 49%;
    margin: 0;
}
.sb-search-input {
    width: 65%!important;
}
label.input__label {
    display: none!important;
}
.sb-search-btn {
    height: 33px!important;
}
.a-top-btn1 {
    width: 60%;
    float: left;
    padding-top: 20px;
}
.header-right {
    float: left;
    width: 40%;
    padding: 0;
    margin-top: 0;
    padding-right: 20px;
}
.uploads, .signup_button {
    margin-left: 0;
}
.cbp-spmenu-push div#page-wrapper {
    padding: 12em 1em 2em!important;
}
/*Popup*/
.popup-inner {
    top: 30px;
    left: 5%;
}
.popup-upload .popup-inner {
    padding: 8px 10px !important;
}
.main-page.login-page.upload-page-popup .login-body {
    padding: 1em 0em !important;
    text-align: center;
}
.social-btn.sb-two {
    margin-left: 0;
}
input#upload-profile-picture + label#profile-pic-upload-label {
    width: 100%;
    margin: 0;
}
.sb-search-btn {
    height: 33px;
}
/*Profile edit page*/
.fb-image-profile.fb-image-profile-edit {
    margin: 0 10px 10px 0px;
}
.profile-thumb-area input[type="file"] {
    max-width: 180px;
    top: 0;
}
.cbp-spmenu-push-toright .collapse {
    display: block!important;
}
.cbp-spmenu-left.cbp-spmenu-open {
    padding: 2em 0;
    height: auto!important;
}
.sticky-header {
    position: absolute;
}
.cbp-spmenu {
    position: absolute;
}
ul.footer-menu li {
    font-size: 12px;
}
.my-video-dimensions {
    width: 100%!important;
}

.user-avatar-colum {
    width: 50px;
    float: left;
}
}
/* Mobile Layout: 479px. */
@media only screen and (max-width: 479px) {
.search-box {
    width: 100%;
    margin-left: 2em;
}
label.input__label {
    display: none;
}
.sb-search-input {
    width: 60%;
}
.a-top-btn1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    text-align: center;
}
.header-right {
    width: 100%;
    margin-top: 0;
    overflow: hidden;
}
.social-bar {
    text-align: center;
}
.total-spledges {
    float: none;
    text-align: center;
}
.cbp-spmenu-push div#page-wrapper {
    padding: 18.5em 1em 2em;
}
.signup_button {
    margin-left: 0;
}
/*Popup*/
.popup-inner {
    top: 30px;
    left: 5%;
}
.popup-upload .popup-inner {
    padding: 8px 10px !important;
}
.main-page.login-page.upload-page-popup .login-body {
    padding: 1em 0em !important;
    text-align: center;
}
.social-btn.sb-two {
    margin-left: 0;
}
input#upload-profile-picture + label#profile-pic-upload-label {
    width: 100%;
    margin: 0;
}
.sb-search-btn {
    height: 33px;
}
/*Profile Edit*/
.cover-photo-area input[type="file"] {
    left: 5px;
    top: 35px;
}
.cover-photo-area p {
	left: 5px;
    top: 55px;
}
.cover-photo-area {
    position: relative;
    overflow: hidden;
}
.profile-thumb-area {
    float: none;
}
.fb-image-profile.fb-image-profile-edit {
    margin: 0px 10px 0px 13%;
}
.profile-thumb-area input[type="file"] {
    max-width: 180px;
    top: 10px;
}
.profile-thumb-area P {
    margin-top: 10px;
}
.editable-click span.edit-text {
    min-width: 210px !important;
}
/*Profile page*/
.a-pro-btn2 {
	float: none!important;
    margin-top: 10px;
    display: block;
}
.cbp-spmenu-left.cbp-spmenu-open {
    padding: 2em 0;
    height: auto!important;
}
.cbp-spmenu {
    position: absolute!important;
}

ul.footer-menu li {
    font-size: 12px;
}
.my-video-dimensions {
    width: 100%!important;
    height: 220px !important;
}
.charts, .row {
    margin: 0px!important;
}
.calender {
    padding: 20px 0px!important;
}
.sticky-header {
    position: absolute;
}
.cbp-spmenu {
    position: absolute;
}
#videoarea {
    width: 100%;
    height: 140px;
}
.embed-responsive-16by9 {
    padding-bottom: 44.25%;
}
.go-spo-btn a {
    font-size: 16px;
}
.go-spo-btn a img {
    width: 12px;
    margin-right: 1px;
}
.monthly-vdo #videoarea {
    width: 100%;
    height: 100px;
}
.user-avatar-colum {
    width: 50px;
    float: left;
}
.popup-signup .popup-inner {
    padding: 8px 10px !important;
}
.signup-page {
    width: 100%;
}
.sign-up-row {
    padding: 0;
    margin: 0;
}
.sign-up-row {
    width: 100%;
}
}

/* custom Layout: less than 600px. */
@media only screen and (max-width: 600px) {
.year-vdo-inner {
    width: 100%;
}
.monthly-vdo #videoarea, .year-vdo-inner #videoarea {
    width: 100%;
    height: 200px;
}
}
/* custom Layout: less than 500px. */
@media only screen and (max-width: 500px) {
.year-vdo-inner {
    width: 100%;
}
.monthly-vdo #videoarea, .year-vdo-inner #videoarea {
    width: 100%;
    height: 135px;
}
}
/* custom Layout: less than 400px. */
@media only screen and (min-width: 351px) and (max-width: 400px) {
.year-vdo-inner {
    width: 100%;
}
.monthly-vdo #videoarea, .year-vdo-inner #videoarea {
    width: 100%;
    height: 125px;
}
}
/* custom Layout: less than 350px. */
@media only screen and (max-width: 350px) {
.year-vdo-inner {
    width: 100%;
}
.monthly-vdo #videoarea, .year-vdo-inner #videoarea {
    width: 100%;
    height: 110px;
}
}

/***Height sync***/
@media only screen and (max-height: 500px) {
.cbp-spmenu-left.cbp-spmenu-open {
    overflow-y: scroll!important;
    padding: 2em 0;
    height: auto!important;
}
.cbp-spmenu {
    position: absolute!important;
}
}