#wrapper {
	width: 100%;
}
#page-wrapper {
	padding: 7em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
	margin-right: 0;
}
.navbar-top-links li {
	display: inline-block;
}
.navbar-top-links li:last-child {
	margin-right: 15px;
}
.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}
.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}
.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.sidebar .sidebar-search {
	padding: 15px;
}
.sidebar .arrow {
	float: right;
	margin-top: 3px;
}
.sidebar .fa.arrow:before {
	content: "\f104";
}
.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
	border-bottom: 0!important;
	margin-bottom: 0;
}
.sidebar .nav-second-level li a {
	padding-left: 53px;
	font-size: .9em;
}
.sidebar .nav-third-level li a {
	padding-left: 52px;
}

@media(min-width:768px) {
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
	margin-left: auto;
}
}
.header-left {
	padding-top: 20px;
}
p.slogan {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #CACACA;
}
.social-bar {
	text-align: right;
	list-style: none;
}
.social-bar li {
	display: inline-block;
	margin-right: 5px;
	margin-top: 15px;
}
/*.social-bar .fa {
	color: #3C5A99;
}*/
.social-bar .fa.fa-facebook-square {
	color: #3C5A99;
}
.social-bar .fa.fa-twitter-square {
	color: #00A3EE;
}
.social-bar .fa.fa-google-plus-square {
	color: #BF4A41;
}
.social-bar .fa:hover {
	color: #66D223;
}
.fa-2 {
	font-size: 2em !important;
}
.fa-3 {
	font-size: 4em !important;
}
.fa-4 {
	font-size: 7em !important;
}
.fa-5 {
	font-size: 12em !important;
}
.content {
	max-width: 800px;
	width: 100%;
	margin: 0px auto;
	margin-bottom: 60px;
}
/*Popup Began*/
.content {
	max-width: 800px;
	width: 100%;
	margin: 0px auto;
	margin-bottom: 60px;
}
/*------------------------------------------------------------
-------- DEMO Code
------------------------------------------------------------*/
/* Outer */
.popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(11, 11, 11, 0.8);
	z-index: 9999999999;
}
.popup-close-overlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999999999;
}
/* Inner */
.popup-inner {
	max-width: 640px;
	width: 90%;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
	background: #4A4A4A;
	z-index: 99999999999;
}
.popup-inner .formResponsive {
	padding: 0px;
	margin: 0px;
}
.popup-inner .form-container {
	background: #fff;
	padding: 40px;
	border-radius: 6px;
	border: 2px solid #fd701c;
}
/* Close Button */
.popup-close {
	width: 28px;
	height: 28px;
	line-height: 26px;
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	transition: ease 0.25s all;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	border-radius: 1000px;
	background: rgba(0,0,0,0.8);
	font-family: Arial, Sans-Serif;
	font-size: 20px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.popup-close:hover {
	-webkit-transform: translate(50%, -50%) rotate(180deg);
	transform: translate(50%, -50%) rotate(180deg);
	background: rgba(0,0,0,1);
	text-decoration: none;
	color: #fff;
}
/*Popup End*/
.pop-click {
	cursor: pointer;
}
.media .col-xs-1, .media .col-sm-1, .media .col-md-1, .media .col-lg-1, .media .col-xs-2, .media .col-sm-2, .media .col-md-2, .media .col-lg-2, .media .col-xs-3, .media .col-sm-3, .media .col-md-3, .media .col-lg-3, .media .col-xs-4, .media .col-sm-4, .media .col-md-4, .media .col-lg-4, .media .col-xs-5, .media .col-sm-5, .media .col-md-5, .media .col-lg-5, .media .col-xs-6, .media .col-sm-6, .media .col-md-6, .media .col-lg-6, .media .col-xs-7, .media .col-sm-7, .media .col-md-7, .media .col-lg-7, .media .col-xs-8, .media .col-sm-8, .media .col-md-8, .media .col-lg-8, .media .col-xs-9, .media .col-sm-9, .media .col-md-9, .media .col-lg-9, .media .col-xs-10, .media .col-sm-10, .media .col-md-10, .media .col-lg-10, .media .col-xs-11, .media .col-sm-11, .media .col-md-11, .media .col-lg-11, .media .col-xs-12, .media .col-sm-12, .media .col-md-12, .media .col-lg-12 {
	padding: 0px !important;
}
.media .row {
	margin: 0px !important;
}
img {
	max-width: 100%;
	height: auto;
}
.app-store a {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
.comment-bar {
	margin-top: 0px;
	max-height: 565px;
	overflow: auto;
}
.comment-bar.comment-media-box {
	max-height: 192px;
	overflow: auto;
	margin-top: 12px;
}
.comment-bar.comment-media-box ul li {
	width: calc(100% - 10px);
}
.comment-bar ul {
	list-style: none;
}
.comment-bar ul li {
	color: #4A4A4A;
	margin-bottom: 6px;
	font-size: 12px;
	background: #F5F5F5;
	padding: 6px 8px;
	border-radius: 4px;
	display: block;
	float: left;
	width: 100%;
}
.comment-bar ul li.reply {
	width: calc(100% - 25px);
	float: right;
}
.comment-bar p {
	margin-bottom: 0px;
}
.comment-bar p.title {
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 18px;
	line-height: 100%;
}
.comment-bar .fa {
	margin-right: 10px;
}
.popup .price p {
	color: #ffffff;
}
.popup .share p, .popup .share .tags {
	color: #ffffff;
}
.video-info {
	margin-top: 8px;
}
.share .social-bar {
	display: inline-block;
	line-height: 100%;
}
.share .social-bar li {
	margin-top: 0px;
	margin-right: 3px;
	font-size: 1.1em;
}
.vjs-poster {
	background-size: cover !important;
}
.subscribe a {
	color: #fff;
}
.comment a {
	color: #333;
}
.subscribe a:hover, .comment a:hover {
	color: #5CB128
}
.title3 {
	color: #fff;
	font-size: 24px;
	margin-top: 5px;
}
.signup-page .forgot-grid {
	margin-top: 15px;
	display: inline-block;
	margin-left: 20px;
}
/*.popup {
	z-index: 999999999 !important;
}
.popup-upload {
	z-index: 999999999 !important;
}
.popup.popup-forgot {
	z-index: 9999999999 !important;
}
.popup-login {
	z-index: 99999999999 !important;
}
.popup-forgot {
	z-index: 999999999999 !important;
}
.popup-signup {
	z-index: 9999999999999 !important;
}*/
input.sb-search-input:focus {
	border: 2px solid #66D223;
}
.sb-search-btn {
	margin-left: 8px;
	height: 38px;
	min-width: 70px;
}
.sb-upload-btn {
	margin-top: 10px;
	width: 100%;
}
form.upload-form {
	width: 100%;
	/*max-width: 320px;*/
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
input.upload-video {
	background: #F1F1F1;
	color: #4A4A4A;
	padding: 10px 19.5px;
	transition: all 0.3s linear;
}
input.upload-video:hover {
	background: #AAAAAA;
}
.user-avatar-colum {
	padding-left: 0px;
	padding-right: 10px;
}
.comment-colum {
	padding: 0px;
	margin-bottom: 2px;
}
.comment-bar ul li.reply .user-avatar-colum {
	width: 6%;
}
.comment-colum textarea {
	width: calc(100% - 12px);
	/*height: 32px;*/
	margin-left: 12px;
	outline: none;
	border: 1px solid #d5d5d5;
	padding: 2px 5px;

	margin-bottom: 0px;
}
.comment-simplebox-arrow {
	height: 12px;
	position: absolute;
	top: 0;
	width: 12px;
	left: 0;
}
.comment-simplebox-arrow .arrow-inner, .comment-simplebox-arrow .arrow-outer {
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	position: absolute;
}
.comment-simplebox-arrow .arrow-inner {
	border: 6px solid #fff;
	left: 2px;
	top: 1px;
	z-index: 1;
}
.comment-simplebox-arrow .arrow-outer {
	border: 6px solid #d5d5d5;
	left: 0;
	top: 0;
}
.comment-bar a .fa:hover {
	color: #4A4A4A !important;
}
.comment-bar ul li.reply.second {
	display: none;
}
.comment-bar.comment-media-box ul li.reply {
	margin-right: 10px;
}
.post-btn-colum {
	padding-right: 0;
	padding-left: 10px;
}
a {
	color: #333;
}
a:hover {
	color: #5CB128;
}
.addthis_sharing_toolbox .at-icon-wrapper {
	border-radius: 3px;
}
.login-page .addthis_sharing_toolbox .at-icon-wrapper {
	width: 32px !important;
	height: 32px !important;
	line-height: 32px !important;
	border-radius: 4px;
}
.addthis_sharing_toolbox .at-icon-wrapper:hover {
	background: #66D223 !important;
}
.login-page .addthis_sharing_toolbox .at-icon-wrapper:hover {
	background: #66D223 !important;
}
.login-page .addthis_sharing_toolbox .at-icon-wrapper svg {
	width: 32px !important;
	height: 32px !important;
}
.login-page .at-share-tbx-element .at-share-btn {
	max-width: inherit !important;
	max-height: inherit !important;
	display: inline-block;
}
.login-page .addthis_sharing_toolbox {
	display: block;
	max-width: 109px;
	margin-left: auto;
	margin-right: auto;
}
.popup.share .popup-inner {
	max-width: 380px !important;
}
.total-spledges {
	font-weight: bold;
	color: #4A4A4A;
	float: right;
	margin-top: 5px;
	min-width: 170px;
	text-align: right;
	margin-right: 3px;
}
.main-page.login-page.upload-page-popup .login-top {
	padding: 1em !important;
}
.main-page.login-page.upload-page-popup .login-body {
	padding: 1.5em 2em !important;
}
.main-page.login-page.upload-page-popup input[type="text"], .main-page.login-page.upload-page-popup textarea {
	margin: 0em 0em 1em 0em !important;
	padding: 6px 15px 6px 15px;
}
.main-page.login-page.upload-page-popup {
	width: 85%;
}
.form-group input[type="checkbox"] {
	display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
	width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
	display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
	display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
	display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
	display: none;
}
.cat-text {
	color: #66D223 !important;
	font-size: 14px !important;
}
.upload-category label.btn.btn-default.active {
	min-width: 142px;
}

.upload-category {
	padding-bottom: 2em;
}

.green {
	color: #66D223 !important;
}
.green a {
	color: #66D223 !important;
}
.green a:hover {
	color: #4A4A4A !important;
}
.my-video-dimensions {
	height: 337px !important;
}
.comment-tools {
	display: inline-block;
}
.comment-tools:before {
	content: "|";
	color: #aaaaaa;
	margin-left: 12px;
	position: relative;
	right: 6px;
}
.comment-tools a {
	cursor: pointer;
}
.spledge.col-md-2 {
	width: 12%;
}
.spledge a {
	color: #fff;
}
.spledge a:hover {
	color: #5CB128;
}
.share.col-md-2 {
	width: 20%;
}
.popup.share .login-top {
	padding: 10px 0px 15px !important;
}
.vjs-watermark {
	max-width: 85px;
	top: 10px !important;
	left: calc(100% - 95px) !important;
}
.vjs-watermark.watermark-resize {
    max-width: 100px;
    left: calc(100% - 110px) !important;
}
#playlist {
	display: table;
	list-style: none;
}
#playlist li {
	cursor: pointer;
	padding: 0px;
}
#playlist li:hover {
	color: #66D223;
}
#videoarea {
	float: left;
	width: 557px;
	height: 313px;
	margin: 0;
	border: 0px solid silver;
}
#playlist {
	display: block !important;
}
.card {
	transition: all 0.3s linear;
}
 .card video::-webkit-media-controls {
 display: block;
 transition: all 0.3s linear;
}
 .card:hover video::-webkit-media-controls {
 display:flex !important;
 transition: all 0.3s linear;
}
 video::-webkit-media-controls-panel {
 border-radius: 0px;
 background: #66D223;
}
video::-webkit-media-controls-play-button {
 cursor: pointer;
}
video::-webkit-media-controls-play-button:hover {
 opacity: 0.8;
}
 .card video::-moz-media-controls {
 display: block;
 transition: all 0.3s linear;
}
 .card:hover video::-moz-media-controls {
 display:flex !important;
 transition: all 0.3s linear;
}
 video::-moz-media-controls-panel {
 border-radius: 0px;
 background: #66D223;
}
.logo a {
	padding: 0px !important;
}
.video-size {
	width: 100% !important;
	min-height: 400px !important;
}
#stars-default .ratingicon { font-size: 1em !important;}
.list-unstyled li {
    display: inline-block;
}
.spotlight-profile-thumbnail {
	margin-right:8px;
	margin-bottom: 5px;
}
.fb-profile-text {
    display: inline-block;
    clear: both;
    max-width: 100%;
    margin-top: 32px;
}
.editable-click, a.editable-click, a.editable-click:hover { border: none;}
.editable-click span.edit-text { border: dotted 1px #66D223; padding: 3px 15px; min-width: 260px !important; float: left;}
form.form-inline.editableform .form-control { height: 30px !important; min-width: 219px;}
.editable button.btn.btn-sm.btn-success { float: right;}
.profile-thumb-area { position: relative; float: left;}
.profile-thumb-area input[type="file"] {
	max-width: 102px;
	overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -45px;
	opacity: 0.6;
	transition: all 0.2s linear;
}
.profile-thumb-area:hover input[type="file"] {
	opacity: 1 !important;
}
.cover-photo-area { position: relative;}
.cover-photo-area input[type="file"] {
	max-width: 102px;
	overflow: hidden;
	position: absolute;
	left: 100px;
	top: 25px;
	opacity: 0.5;
	transition: all 0.2s linear;
}
.cover-photo-area:hover input[type="file"] {
	opacity: 1 !important;
	
}
.cover-photo-area p {
	position: absolute;
	left: 100px;
	top: 60px;
	color: #ffffff;
	opacity: 0.5;
	transition: all 0.2s linear;
}
.cover-photo-area:hover p {
	opacity: 1 !important;
}
.upload-profile-picture {
	background: #fff;
	color: #4A4A4A;
	padding: 9px 12px;
	transition: all 0.3s linear;
	width: 100%;
}




label#profile-pic-upload-label, input#upload-profile-picture {
  color: #333;
  font: 14px/20px Arial;
}
label#profile-pic-upload-label {
  display: inline-block;
  padding: 0 1em;
  text-align: right;
  margin: 0em 0em 1em 0em !important;
}

/* Hide the file input using
opacity */
input#upload-profile-picture {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
	display: none;
}
input#upload-profile-picture + label#profile-pic-upload-label {
  border: 1px solid #CCC;
  border-radius: 3px;
  text-align: left;
  padding: 10px;
  width: 65%;
  float: left;
  margin: 0;
}
input#upload-profile-picture + label#profile-pic-upload-label {
  text-align: center;
  /*background: #333;*/
  color: #fff;
  border: none;
  cursor: pointer;
}
input#upload-profile-picture + label#profile-pic-upload-label:hover {
  background: #aaaaaa;
}
.popup-signup .popup-inner { padding: 8px 20px !important;}
.popup-upload .popup-inner { padding: 8px 20px !important;}
.popup-inner .vjs-watermark { top: 28px !important; left: calc(100% - 128px) !important;}
.fb-profile-text p { min-height: 30px;}

.dropdown-menu .divider {
	margin: 0px;
}