@font-face {
	font-family: "Flaticon";
	src: url("/assets/flaticon.eot");
	src: url("/assets/flaticon.eot#iefix") format("embedded-opentype"),
	url("/assets/flaticon.woff") format("woff"),
	url("/assets/flaticon.ttf") format("truetype"),
	url("/assets/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	margin-right: 0.7em;
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}.flaticon-accordion:before {
	content: "\e000";
}
.flaticon-accordion3:before {
	content: "\e001";
}
.flaticon-acoustic:before {
	content: "\e002";
}
.flaticon-acoustic2:before {
	content: "\e003";
}
.flaticon-acoustic3:before {
	content: "\e004";
}
.flaticon-african5:before {
	content: "\e005";
}
.flaticon-amplifier:before {
	content: "\e006";
}
.flaticon-apple23:before {
	content: "\e007";
}
.flaticon-arrow16:before {
	content: "\e008";
}
.flaticon-arrow58:before {
	content: "\e009";
}
.flaticon-arrows129:before {
	content: "\e00a";
}
.flaticon-artist2:before {
	content: "\e00b";
}
.flaticon-audio-bars:before {
	content: "\e00c";
}
.flaticon-audio39:before {
	content: "\e00d";
}
.flaticon-basic5:before {
	content: "\e00e";
}
.flaticon-bell30:before {
	content: "\e00f";
}
.flaticon-bell85:before {
	content: "\e010";
}
.flaticon-boom1:before {
	content: "\e011";
}
.flaticon-boom2:before {
	content: "\e012";
}
.flaticon-cassette:before {
	content: "\e013";
}
.flaticon-cassette11:before {
	content: "\e014";
}
.flaticon-circular263:before {
	content: "\e015";
}
.flaticon-circular63:before {
	content: "\e016";
}
.flaticon-classic7:before {
	content: "\e017";
}
.flaticon-classical:before {
	content: "\e018";
}
.flaticon-clef:before {
	content: "\e019";
}
.flaticon-communication5:before {
	content: "\e01a";
}
.flaticon-computer139:before {
	content: "\e01b";
}
.flaticon-control15:before {
	content: "\e01c";
}
.flaticon-cymbal:before {
	content: "\e01d";
}
.flaticon-disc6:before {
	content: "\e01e";
}
.flaticon-disco1:before {
	content: "\e01f";
}
.flaticon-dj2:before {
	content: "\e020";
}
.flaticon-dj3:before {
	content: "\e021";
}
.flaticon-download64:before {
	content: "\e022";
}
.flaticon-drum:before {
	content: "\e023";
}
.flaticon-drum12:before {
	content: "\e024";
}
.flaticon-drum16:before {
	content: "\e025";
}
.flaticon-drum18:before {
	content: "\e026";
}
.flaticon-drum21:before {
	content: "\e027";
}
.flaticon-drum24:before {
	content: "\e028";
}
.flaticon-drum3:before {
	content: "\e029";
}
.flaticon-drummer3:before {
	content: "\e02a";
}
.flaticon-drums1:before {
	content: "\e02b";
}
.flaticon-drums2:before {
	content: "\e02c";
}
.flaticon-drumstick:before {
	content: "\e02d";
}
.flaticon-earphones1:before {
	content: "\e02e";
}
.flaticon-earphones10:before {
	content: "\e02f";
}
.flaticon-earphones2:before {
	content: "\e030";
}
.flaticon-earphones47:before {
	content: "\e031";
}
.flaticon-earth24:before {
	content: "\e032";
}
.flaticon-eighth:before {
	content: "\e033";
}
.flaticon-eighth6:before {
	content: "\e034";
}
.flaticon-electric14:before {
	content: "\e035";
}
.flaticon-electric19:before {
	content: "\e036";
}
.flaticon-electric27:before {
	content: "\e037";
}
.flaticon-electricguitar:before {
	content: "\e038";
}
.flaticon-equalizer16:before {
	content: "\e039";
}
.flaticon-equalizer37:before {
	content: "\e03a";
}
.flaticon-flutes:before {
	content: "\e03b";
}
.flaticon-g1:before {
	content: "\e03c";
}
.flaticon-g2:before {
	content: "\e03d";
}
.flaticon-girl43:before {
	content: "\e03e";
}
.flaticon-grid7:before {
	content: "\e03f";
}
.flaticon-guitar:before {
	content: "\e040";
}
.flaticon-guitar11:before {
	content: "\e041";
}
.flaticon-guitar20:before {
	content: "\e042";
}
.flaticon-guitar38:before {
	content: "\e043";
}
.flaticon-guitar5:before {
	content: "\e044";
}
.flaticon-guitar8:before {
	content: "\e045";
}
.flaticon-guitar9:before {
	content: "\e046";
}
.flaticon-guitars:before {
	content: "\e047";
}
.flaticon-harp3:before {
	content: "\e048";
}
.flaticon-harp4:before {
	content: "\e049";
}
.flaticon-hdmi:before {
	content: "\e04a";
}
.flaticon-headphone4:before {
	content: "\e04b";
}
.flaticon-headphones11:before {
	content: "\e04c";
}
.flaticon-headphones12:before {
	content: "\e04d";
}
.flaticon-headphones20:before {
	content: "\e04e";
}
.flaticon-instrument4:before {
	content: "\e04f";
}
.flaticon-instrument7:before {
	content: "\e050";
}
.flaticon-ipad37:before {
	content: "\e051";
}
.flaticon-japan5:before {
	content: "\e052";
}
.flaticon-jbl:before {
	content: "\e053";
}
.flaticon-keyboard57:before {
	content: "\e054";
}
.flaticon-keyboard58:before {
	content: "\e055";
}
.flaticon-kids2:before {
	content: "\e056";
}
.flaticon-levels1:before {
	content: "\e057";
}
.flaticon-logo92:before {
	content: "\e058";
}
.flaticon-loudspeaker:before {
	content: "\e059";
}
.flaticon-love20:before {
	content: "\e05a";
}
.flaticon-male97:before {
	content: "\e05b";
}
.flaticon-maracas4:before {
	content: "\e05c";
}
.flaticon-mic10:before {
	content: "\e05d";
}
.flaticon-microphone32:before {
	content: "\e05e";
}
.flaticon-microphone33:before {
	content: "\e05f";
}
.flaticon-microphone37:before {
	content: "\e060";
}
.flaticon-microphone5:before {
	content: "\e061";
}
.flaticon-midi:before {
	content: "\e062";
}
.flaticon-misical-:before {
	content: "\e063";
}
.flaticon-mp33:before {
	content: "\e064";
}
.flaticon-music-player20:before {
	content: "\e065";
}
.flaticon-music-player7:before {
	content: "\e066";
}
.flaticon-music111:before {
	content: "\e067";
}
.flaticon-music113:before {
	content: "\e068";
}
.flaticon-music114:before {
	content: "\e069";
}
.flaticon-music120:before {
	content: "\e06a";
}
.flaticon-music129:before {
	content: "\e06b";
}
.flaticon-music138:before {
	content: "\e06c";
}
.flaticon-music142:before {
	content: "\e06d";
}
.flaticon-music144:before {
	content: "\e06e";
}
.flaticon-music153:before {
	content: "\e06f";
}
.flaticon-music155:before {
	content: "\e070";
}
.flaticon-music163:before {
	content: "\e071";
}
.flaticon-music169:before {
	content: "\e072";
}
.flaticon-music170:before {
	content: "\e073";
}
.flaticon-music176:before {
	content: "\e074";
}
.flaticon-music178:before {
	content: "\e075";
}
.flaticon-music184:before {
	content: "\e076";
}
.flaticon-music196:before {
	content: "\e077";
}
.flaticon-music247:before {
	content: "\e078";
}
.flaticon-music252:before {
	content: "\e079";
}
.flaticon-music255:before {
	content: "\e07a";
}
.flaticon-music256:before {
	content: "\e07b";
}
.flaticon-music28:before {
	content: "\e07c";
}
.flaticon-music34:before {
	content: "\e07d";
}
.flaticon-music6:before {
	content: "\e07e";
}
.flaticon-music63:before {
	content: "\e07f";
}
.flaticon-music70:before {
	content: "\e080";
}
.flaticon-music73:before {
	content: "\e081";
}
.flaticon-music77:before {
	content: "\e082";
}
.flaticon-music79:before {
	content: "\e083";
}
.flaticon-music82:before {
	content: "\e084";
}
.flaticon-music87:before {
	content: "\e085";
}
.flaticon-music92:before {
	content: "\e086";
}
.flaticon-music94:before {
	content: "\e087";
}
.flaticon-music97:before {
	content: "\e088";
}
.flaticon-musical-instrument:before {
	content: "\e089";
}
.flaticon-musical-instrument3:before {
	content: "\e08a";
}
.flaticon-musical-note1:before {
	content: "\e08b";
}
.flaticon-musical-note3:before {
	content: "\e08c";
}
.flaticon-musical:before {
	content: "\e08d";
}
.flaticon-musical1:before {
	content: "\e08e";
}
.flaticon-musical124:before {
	content: "\e08f";
}
.flaticon-musical142:before {
	content: "\e090";
}
.flaticon-musical147:before {
	content: "\e091";
}
.flaticon-musical159:before {
	content: "\e092";
}
.flaticon-musical204:before {
	content: "\e093";
}
.flaticon-musical4:before {
	content: "\e094";
}
.flaticon-musical47:before {
	content: "\e095";
}
.flaticon-musical5:before {
	content: "\e096";
}
.flaticon-musical51:before {
	content: "\e097";
}
.flaticon-musical65:before {
	content: "\e098";
}
.flaticon-musical66:before {
	content: "\e099";
}
.flaticon-musical7:before {
	content: "\e09a";
}
.flaticon-musical81:before {
	content: "\e09b";
}
.flaticon-musicalinstrument104:before {
	content: "\e09c";
}
.flaticon-musicalinstrument148:before {
	content: "\e09d";
}
.flaticon-musicalinstrument150:before {
	content: "\e09e";
}
.flaticon-musicalinstrument197:before {
	content: "\e09f";
}
.flaticon-musicalinstrument2:before {
	content: "\e0a0";
}
.flaticon-musicalinstrument218:before {
	content: "\e0a1";
}
.flaticon-musicalinstrument220:before {
	content: "\e0a2";
}
.flaticon-musicalinstrument7:before {
	content: "\e0a3";
}
.flaticon-musicalnote15:before {
	content: "\e0a4";
}
.flaticon-musician5:before {
	content: "\e0a5";
}
.flaticon-musicinstrument31:before {
	content: "\e0a6";
}
.flaticon-musicnote1:before {
	content: "\e0a7";
}
.flaticon-musicplayer1:before {
	content: "\e0a8";
}
.flaticon-musicplayer146:before {
	content: "\e0a9";
}
.flaticon-musicplayer16:before {
	content: "\e0aa";
}
.flaticon-musicplayer95:before {
	content: "\e0ab";
}
.flaticon-nautilus:before {
	content: "\e0ac";
}
.flaticon-note1:before {
	content: "\e0ad";
}
.flaticon-note54:before {
	content: "\e0ae";
}
.flaticon-note57:before {
	content: "\e0af";
}
.flaticon-note60:before {
	content: "\e0b0";
}
.flaticon-notifications3:before {
	content: "\e0b1";
}
.flaticon-notify:before {
	content: "\e0b2";
}
.flaticon-orchestra6:before {
	content: "\e0b3";
}
.flaticon-orchestra7:before {
	content: "\e0b4";
}
.flaticon-percussion3:before {
	content: "\e0b5";
}
.flaticon-person188:before {
	content: "\e0b6";
}
.flaticon-piano:before {
	content: "\e0b7";
}
.flaticon-piano15:before {
	content: "\e0b8";
}
.flaticon-piano3:before {
	content: "\e0b9";
}
.flaticon-piano8:before {
	content: "\e0ba";
}
.flaticon-play-button2:before {
	content: "\e0bb";
}
.flaticon-play106:before {
	content: "\e0bc";
}
.flaticon-play125:before {
	content: "\e0bd";
}
.flaticon-play2:before {
	content: "\e0be";
}
.flaticon-play46:before {
	content: "\e0bf";
}
.flaticon-play7:before {
	content: "\e0c0";
}
.flaticon-play9:before {
	content: "\e0c1";
}
.flaticon-power28:before {
	content: "\e0c2";
}
.flaticon-profession1:before {
	content: "\e0c3";
}
.flaticon-pulse2:before {
	content: "\e0c4";
}
.flaticon-quaver12:before {
	content: "\e0c5";
}
.flaticon-quaver28:before {
	content: "\e0c6";
}
.flaticon-quaver59:before {
	content: "\e0c7";
}
.flaticon-quaver61:before {
	content: "\e0c8";
}
.flaticon-quaver8:before {
	content: "\e0c9";
}
.flaticon-quavers:before {
	content: "\e0ca";
}
.flaticon-radio24:before {
	content: "\e0cb";
}
.flaticon-radio46:before {
	content: "\e0cc";
}
.flaticon-radio63:before {
	content: "\e0cd";
}
.flaticon-radio64:before {
	content: "\e0ce";
}
.flaticon-radio67:before {
	content: "\e0cf";
}
.flaticon-record11:before {
	content: "\e0d0";
}
.flaticon-record3:before {
	content: "\e0d1";
}
.flaticon-rewind2:before {
	content: "\e0d2";
}
.flaticon-ring6:before {
	content: "\e0d3";
}
.flaticon-rockstar:before {
	content: "\e0d4";
}
.flaticon-saxophone:before {
	content: "\e0d5";
}
.flaticon-saxophone4:before {
	content: "\e0d6";
}
.flaticon-saxophonist:before {
	content: "\e0d7";
}
.flaticon-sing3:before {
	content: "\e0d8";
}
.flaticon-small151:before {
	content: "\e0d9";
}
.flaticon-sound10:before {
	content: "\e0da";
}
.flaticon-sound13:before {
	content: "\e0db";
}
.flaticon-sound16:before {
	content: "\e0dc";
}
.flaticon-sound21:before {
	content: "\e0dd";
}
.flaticon-sound37:before {
	content: "\e0de";
}
.flaticon-sound65:before {
	content: "\e0df";
}
.flaticon-sounds1:before {
	content: "\e0e0";
}
.flaticon-soundwaves5:before {
	content: "\e0e1";
}
.flaticon-speaker15:before {
	content: "\e0e2";
}
.flaticon-stage2:before {
	content: "\e0e3";
}
.flaticon-start4:before {
	content: "\e0e4";
}
.flaticon-stereo3:before {
	content: "\e0e5";
}
.flaticon-stop22:before {
	content: "\e0e6";
}
.flaticon-stringinstrument1:before {
	content: "\e0e7";
}
.flaticon-stringinstrument4:before {
	content: "\e0e8";
}
.flaticon-synthesizer1:before {
	content: "\e0e9";
}
.flaticon-tambourine1:before {
	content: "\e0ea";
}
.flaticon-track4:before {
	content: "\e0eb";
}
.flaticon-track5:before {
	content: "\e0ec";
}
.flaticon-track6:before {
	content: "\e0ed";
}
.flaticon-traditional1:before {
	content: "\e0ee";
}
.flaticon-treble3:before {
	content: "\e0ef";
}
.flaticon-triangle1:before {
	content: "\e0f0";
}
.flaticon-trumpet14:before {
	content: "\e0f1";
}
.flaticon-trumpet9:before {
	content: "\e0f2";
}
.flaticon-vintage36:before {
	content: "\e0f3";
}
.flaticon-vintage9:before {
	content: "\e0f4";
}
.flaticon-vinyl:before {
	content: "\e0f5";
}
.flaticon-vinyl2:before {
	content: "\e0f6";
}
.flaticon-vinyl3:before {
	content: "\e0f7";
}
.flaticon-violin4:before {
	content: "\e0f8";
}
.flaticon-violin6:before {
	content: "\e0f9";
}
.flaticon-volume30:before {
	content: "\e0fa";
}
.flaticon-volume31:before {
	content: "\e0fb";
}
.flaticon-volume38:before {
	content: "\e0fc";
}
.flaticon-volume8:before {
	content: "\e0fd";
}
.flaticon-whistle1:before {
	content: "\e0fe";
}
.flaticon-woman144:before {
	content: "\e0ff";
}
