.messages-box .cards {
	padding: 5px;
}

.messages-box .message-text span {
	padding-left: 10px;
}

.messages-box .message-text p, .messages-box .message-text span {
	color: #A8A8A8;
}

.messages-box .user-avatar-colum {
	padding-left: 20px;
}

.messages-box .cards img {
	height: 80px;
	width: 80px;
}

.small-font-size {
	font-size: 12px !important;
}