/*
Author: 
*/
h4, h5, h6, h1, h2, h3 {
	margin: 0;
}
ul, ol {
	margin: 0;
}
p {
	margin: 0;
}
html, body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
	overflow-x: hidden;
	background: #fff;
}
body a {
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration: none;
}
/*progress css*/
.bar-con {
	background-color: #ccc;
	height: 0.2em;
}
.bar {
	float: left;
	height: 100%;
	width: 0%;
}
.bar-two .bar {
	background-color: #66D223;
	transition: width ease-in-out 3s;
	-webkit-transition: width ease-in-out 3s;
	-moz-transition: width ease-in-out 3s;
	-o-transition: width ease-in-out 3s;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
p {
	margin: 0;
}
ul, label {
	margin: 0;
	padding: 0;
}
body a:hover {
	text-decoration: none;
}
.main-content {
	position: relative;
}
/*-------HEADER SECTION------*/
/* ----STICKY HEADER----*/
.sticky-header {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	z-index: 100;
}
.header-section {
	background: #FFF;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	-o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
	padding-bottom: 3px;
}
.header-section::after {
	clear: both;
	display: block;
	content: '';
}
.header-left {
	float: left;
	width: 64%;
}
.header-right {
	float: right;
	width: 11%;
}
/* ----menu-icon----*/
button#showLeftPush {
	font-size: 1.5em;
	width: 76px;
	text-align: center;
	cursor: pointer;
	float: left;
	color: #6F6F6F;
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	border: none;
	background-color: #fff;
	outline: none;
}
button#showLeftPush:hover {
	color: #66D223;
}
/*--push-menu-css--*/
.cbp-spmenu {
	position: fixed;
}
.cbp-spmenu-vertical {
	width: 277px;
	height: 590px;
	top: 91.5px;
	z-index: 1000;
	background-color: #FFFFFF;
	padding: 2em 0;
}
.cbp-spmenu-left {
	left: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: -309px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
}
.cbp-spmenu-push-toright {
	left: 0;
}
/* Transitions */

.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cbp-spmenu-push div#page-wrapper {
	margin: 0em 0 0 17.3em;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
}
.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
	margin: 0;
}
/*--//push-menu-css--*/
/*--side-menu--*/
.sidebar ul li {
	margin-bottom: 0.0em;
}
.sidebar ul li a {
	color: #FFFFFF;
	font-size: 1em;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: rgb(241, 241, 241);
	color: #5CB128;
}
.nav > li > a.active {
	text-decoration: none;
	background-color: rgb(241, 241, 241);
	color: #5CB128;
}
.sidebar .arrow {
	float: right;
}
i.nav_icon {
	margin-right: 1em;
	font-size: 1.1em;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
span.nav-badge {
	font-size: 12px;
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.32);
	width: 25px;
	height: 25px;
	border-radius: 68%;
	-webkit-border-radius: 68%;
	-moz-border-radius: 68%;
	-o-border-radius: 68%;
	position: absolute;
	top: 18%;
	right: 15%;
	line-height: 26px;
	letter-spacing: 1px;
	text-align: center;
}
span.nav-badge-btm {
	font-size: 12px;
	color: #FFF;
	background: #F2B33F;
	position: absolute;
	top: 18%;
	right: 15%;
	line-height: 22px;
	letter-spacing: 1px;
	text-align: center;
	padding: 0em 1em;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: none;
	color: #66D223;
}
.chart-nav span.nav-badge-btm {
	right: 5%;
	top: 24%;
}
ul.dropdown-menu {
	animation: flipInX 1s ease;
	-moz-animation: flipInX 1s ease;
	-webkit-animation: flipInX 1s ease;
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-moz-backface-visibility: visible !important;
	data-wow-delay: ".1s";
}
/*--//side-menu--*/
/* ----Logo----*/
.logo {
	/* background: #66D223;*/
	text-align: center;
	float: left;
	margin-top: -18px;
}
.logo a {
	padding: 0.4em 2.3em .3em;
	display: block;
	text-decoration: none;
}
.logo a h1 {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: 700;
}
.logo a span {
	color: #F8F8F8;
	font-size: .7em;
	text-align: center;
	letter-spacing: 8px;
}
/* ----//Logo----*/
/*start search*/
.search-box {
	float: left;
	width: 50%;
	margin: 0.1em 0 0 3em;
	position: relative;
	z-index: 1;
	display: inline-block;
}
.sb-search-input {
	outline: none;
	background: #fff;
	width: 80%;
	margin: 0;
	z-index: 10;
	font-size: 0.9em;
	color: #4A4A4A;
	padding: 0.5em 1em;
	border: 2px solid #e0e0e0;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	font-family: 'Roboto Condensed', sans-serif;
	float: left !important;
}
.sb-search-input::-webkit-input-placeholder {
 color:#4A4A4A;
}
.sb-search-input:-moz-placeholder {
 color: #4A4A4A;
}
.sb-search-input::-moz-placeholder {
 color: #4A4A4A;
}
.sb-search-input:-ms-input-placeholder {
 color: #4A4A4A;
}
.input__label {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 349.688px;
	left: 0;
	top: 0;
}
.graphic {
	fill: none;
	-webkit-transform: scale3d(1, -1, 1);
	transform: scale3d(1, -1, 1);
	-webkit-transition: stroke-dashoffset 0.5s;
	transition: stroke-dashoffset 0.5s;
	pointer-events: none;
	stroke: #66D223;
	stroke-width: 6px;
	stroke-dasharray: 962;
	stroke-dashoffset: 962;
}
/* Madoka */
.input__field--madoka {
	background: transparent;
	display: block;
	float: right;
}
.input__field--madoka:focus {
	outline: none;
}
.input__field--madoka:focus + .input__label, .input--filled .input__label {
	cursor: default;
	pointer-events: none;
}
.input__field--madoka:focus + .input__label .graphic, .input--filled .graphic {
	stroke-dashoffset: 0;
}
.input__field--madoka:focus + .input__label .input__label-content {
	-webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
	transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}
/*--//search-ends --*/
/*--- Progress Bar ----*/
.meter {
	position: relative;
}
.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
.animate > span:after {
	display: none;
}
 @-webkit-keyframes move {
 0% {
 background-position: 0 0;
}
 100% {
 background-position: 50px 50px;
}
}
 @-moz-keyframes move {
 0% {
 background-position: 0 0;
}
 100% {
 background-position: 50px 50px;
}
}
.red > span {
	background-color: #65CEA7;
}
.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	-moz-animation: none;
	background-image: none;
}
/*--- User Panel---*/
.profile_details_left {
	float: left;
}
.dropdown-menu {
	box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	border-radius: 0;
}
.sidebar .nav-second-level li a.active, .sidebar ul li a {
	color: #4A4A4A;
}
.sidebar .nav-second-level li a.active i, .sidebar ul li a i {
	color: #66D223;
}
li.active a i, .act a i {
	color: #66D223;
}
.custom-nav > li.act > a, .custom-nav > li.act > a:hover, .custom-nav > li.act > a:focus {
	background-color: #353f4f;
	color: #8BC34A;
}
.user-panel-top li a {
	display: block;
	padding: 5px;
	text-decoration: none;
}
.user_img {
	float: left;
	width: 19%;
}
.user_img img {
	max-width: 100%;
	display: block;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
}
.notification_desc {
	float: left;
	width: 70%;
	margin-left: 5%;
}
.notification_desc p {
	color: #757575;
	font-size: 13px;
	padding: 2px 0;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p {
	color: #424242;
}
.notification_desc p span {
	color: #979797 !important;
	font-size: 11px;
}
/********* profile details **********/
ul.dropdown-menu.drp-mnu i.fa {
	margin-right: 0.5em;
}
ul.dropdown-menu {
	padding: 0;
	min-width: 215px;
	top: 101%;
}
.dropdown-menu > li > a {
	padding: 3px 15px;
	font-size: 1em;
}
.profile_details {
	float: left;
	margin-left: 3px;
}
.profile_details_drop .fa.fa-angle-up {
	display: none;
}
.profile_details_drop.open .fa.fa-angle-up {
	display: block;
}
.profile_details_drop.open .fa.fa-angle-down {
	display: none;
}
.profile_details_drop a.dropdown-toggle {
	display: block;
	padding: 0.4em 2em 0 2em;
}
.profile_img span.prfil-img {
	float: left;
}
.user-name {
	float: left;
	margin-top: 8px;
	margin-left: 11px;
	height: 35px;
}
.profile_details ul li {
	list-style-type: none;
	position: relative;
}
.profile_details li a i.fa.lnr {
	position: absolute;
	top: 34%;
	right: 8%;
	color: #66D223;
	font-size: 1.6em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
	padding: 1em;
	min-width: 190px;
	top: 110%;
	left: 0%;
}
ul.dropdown-menu.drp-mnu li {
	list-style-type: none;
	padding: 3px 0;
}
.user-name p {
	font-size: 1em;
	color: #DD6777;
	line-height: 1em;
	font-weight: 700;
}
.user-name span {
	font-size: .75em;
	font-style: italic;
	color: #424f63;
	font-weight: normal;
	margin-top: .3em;
}
/*---footer---*/
.footer {
	background: #fff;
	padding: 1em;
	width: 100%;
	text-align: center;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-ms-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-o-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	position: relative;
	z-index: 9999;
}
.footer p {
	color: #7A7676;
	font-size: 1em;
	line-height: 2.1em;
}
.footer p a {
	color: #66D223;
}
.footer p a:hover {
	text-decoration: underline;
}
/*---//footer---*/


/*--social-media--*/
.social-media {
	padding: 0;
	margin-left: 2%;
	width: 31.3%;
}
.wid-social {
	display: inline-block;
	width: 33.33%;
	padding: 15px;
	float: left;
	text-align: center;
}
.facebook {
	background-color: #3b5998 !important;
	color: #ffffff !important;
}
.icon-xlg {
	font-size: 30px;
}
.wid-social .social-info h3 {
	color: rgba(255, 255, 255, 0.91);
	font-weight: 800;
	font-size: 1.5em;
	margin: 0.3em 0;
}
.wid-social .social-info h4 {
	margin: 0;
	font-size: 0.8em;
	color: #fff;
	letter-spacing: 1px;
}
.twitter {
	background-color: #55acee !important;
	color: #ffffff !important;
}
.google-plus {
	background-color: #dc4e41 !important;
	color: #ffffff !important;
}
.dribbble {
	background-color: #ea4c89 !important;
	color: #ffffff !important;
}
.xing {
	background-color: #cfdc00 !important;
	color: #ffffff !important;
}
.vimeo {
	background-color: #162221 !important;
	color: #ffffff !important;
}
.yahoo {
	background-color: #410093 !important;
	color: #ffffff !important;
}
.flickr {
	background-color: #a4c639 !important;
	color: #ffffff !important;
}
.rss {
	background-color: #f26522 !important;
	color: #ffffff !important;
}
.wid-social.youtube {
	width: 100%;
	background-color: #cd201f !important;
	color: #ffffff !important;
}
.wid-social.youtube .icon-xlg {
	font-size: 38px;
}
.youtube .social-icon {
	display: inline-block;
	margin-right: 6em;
	vertical-align: super;
}
.youtube .social-info {
	display: inline-block;
}
.wid-social:hover .social-icon {
	transform: rotatey(360deg);
	transition: .5s all;
}
/*--//social-media--*/
/*--calender --*/
.calender {
	padding: 1em 1.5em 1.5em;
}
/*--//calender --*/
/*---//main-content---*/
/*-- media --*/
h3.title1 {
	font-size: 2em;
	color: #66D223;
	margin-bottom: 0.8em;
}
.bs-example5 {
	background: #fff;
	padding: 2em;
}
.media-heading {
	color: #000;
}
.sidebard-panel .feed-element, .media-body, .sidebard-panel p {
	font-size: 0.85em;
	color: #999;
}
.example_6 {
	margin: 2em 0 0 0;
}
.demolayout {
	background: #66D223;
	width: 60px;
	overflow: hidden;
}
.padding-5 {
	padding: 5px;
}
.demobox {
	background: #f0f0f0;
	color: #333;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	display: block;
}
.padding-l-5 {
	padding-left: 5px;
}
.padding-r-5 {
	padding-right: 5px;
}
.padding-t-5 {
	padding-top: 5px;
}
.padding-b-5 {
	padding-bottom: 5px;
}
code {
	background: rgb(246, 255, 252);
	padding: 2px 2px;
	color: #000;
}
.media_1-left {
	padding: 0;
	background-color: #fff;
	width: 49%;
}
.media_1-right {
	float: left;
	margin-left: 2%;
	width: 49%;
	padding: 0;
}
.media_1 {
	margin: 2em 0 0 0;
	padding-bottom: 1px;
}
.media_box {
	margin-bottom: 2em;
}
.media_box1 {
	margin-top: 2em;
}
.media {
	margin-top: 40px !important;
}
.media:first-child {
	margin-top: 0 !important;
	padding: 0 1px;
}
.panel_2 {
	padding: 2em 2em 0;
	background: #fff;
}
.panel_2 p {
	color: #555;
	font-size: 0.85em;
	margin-bottom: 1em;
}
td.head {
	color: #000 !important;
	font-size: 1.2em !important;
}

@media (max-width:768px) {
.grid_3 {
	margin-bottom: 0em;
}
}

@media (max-width:640px) {
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li, .grid_3 p, ul.list-group li, li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 10px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.grid_4 {
	margin-top: 30px;
}
.signup_button {
	margin-top: 0px !important;
	margin-left: 17px;
	margin-bottom: 5px !important;
}
.uploads {
	margin-top: 0px !important;
	margin-left: 17px;
	margin-bottom: 0px !important;
}
.sticky-header {
	transition: top 0.5s ease-in-out;
}
}

@media (max-width:480px) {
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
}
.table h3 {
	font-size: 20px;
}
.alert, p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.signup_button {
	margin-top: 0px;
	margin-left: 17px;
	margin-bottom: 5px;
}
.uploads {
	margin-top: 0px;
	margin-left: 17px;
	margin-bottom: 0px;
}
.sticky-header {
	transition: top 0.5s ease-in-out;
}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/* STYLES HERE */
.search-box {
	width: 36%;/* margin: 1em 0 0 1em;*/
}
.header-left {
	width: 65%;
}
.header-right {
	float: right;
	width: 35%;
	padding: 0px;
}
/*.cards {
    margin-left: 15px;
    width: 300px;
    float: left;
}*/
.embed-responsive-16by9 {
	padding-bottom: 43.25%;
}
.profile_details_left {
	margin-top: 6px;
}
.profile_details {
	margin-top: 6px;
}
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
/* STYLES HERE */
.search-box {
	margin: 0.3em 0px 0px 0.6em;
}
.btn {
	margin-bottom: 5px;
}
.logo {
	width: 120px;
	margin-top: 5px;
}
.search-box {
	margin-left: 10px;
	;
}
.uploads {
	margin-top: 0px !important;
	margin-left: 15px;
	margin-bottom: 0px !important;
}
.cbp-spmenu-vertical {
	top: 65px;
}
h3.title {
	margin: 10px 10px;
}
.sign-up-row {
	width: 108%;
}
.header-left {
	padding-top: 2px !important;
}
p.slogan {
	font-size: 7px !important;
}
}

@media (max-width: 320px) {
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p, ol.breadcrumb li, .grid_3 p, .well, ul.list-group li, li.list-group-item1, a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px !important;
}
.list-group {
	margin-bottom: 10px;
}
.signup_button {
	margin-top: 0px !important;
	margin-left: 17px;
	margin-bottom: 5px !important;
}
/*.uploads {
    margin-top: 0px !important;
    margin-left: 17px;
    margin-bottom: 0px !important;
}*/
.sticky-header {
	transition: top 0.5s ease-in-out;
}
}
/*--//Typography--*/

/* --  general forms  -- */
.form-control1, .form-control_2.input-sm {
	border: 1px solid #ccc;
	padding: 5px 8px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-appearance: none;
	resize: none;
}
.general .tab-content {
	padding: 1.5em 0.5em 0;
}
.control3 {
	margin: 0 0 1em 0;
}
.btn-warning {
	color: #fff;
	background-color: rgb(6, 217, 149);
	border-color: rgb(6, 217, 149);
	padding: 8.5px 12px;
}
.tag_01 {
	margin-right: 5px;
}
.tag_02 {
	margin-right: 3px;
}
.btn-warning:hover {
	background-color: rgb(3, 197, 135);
	border-color: rgb(3, 197, 135);
}
.btn-success:hover {
	border-color: #FFFFFF !important;
	background: #FFFFFF !important;
	color: #000;
}
.control2 {
	height: 200px;
}
.bs-example4 {
	background: #fff;
	padding: 2em;
}
button.note-color-btn {
	width: 20px !important;
	height: 20px !important;
	border: none !important;
}
.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.xs h3, .widget_head {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}
.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.input-icon.right > i, .input-icon.right .icon {
	right: 12px;
	float: right;
}
.input-icon > i, .input-icon .icon {
	position: absolute;
	display: block;
	margin: 10px 8px;
	line-height: 14px;
	color: #999;
}
.form-group input#disabledinput {
	cursor: not-allowed;
}
/*--//forms--*/
/*--validation--*/
.validation-grids {
	padding: 0;
	width: 49%;
}
.validation-grids.validation-grids-right {
	margin-left: 2%;
}
.validation-grids .radio {
	display: inline-block;
	margin: 0.5em 2em 0 0;
}
.help-block {
	font-size: 0.8em;
	color: #6F6F6F;
	margin-left: .5em;
}
.validation-grids .btn-primary {
	background: #66D223 !important;
	color: #FFF;
	border: none;
	font-size: 0.9em;
	font-weight: 400;
	padding: .5em 1.2em;
	width: 100%;
	margin-top: 1.5em;
	outline: none;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	border-radius: inherit;
}
.validation-grids .btn-primary:hover {
	background: rgba(79, 82, 186, 0.81) !important;
}
.bottom .btn-primary {
	margin: 0;
}
.bottom .form-group {
	margin-bottom: 0;
}
/*--//validation--*/
/*--grids--*/
.grids {
	padding: 2em 1em;
	margin-bottom: 2em;
}
.grids .form-group {
	margin: 0;
}
.grid-bottom {
	padding: 2em;
}
.grid-bottom .table {
	margin: 0;
}
/*--//grids--*/
/*--blank-page--*/
.blank-page {
	padding: 2em;
}
.blank-page p {
	font-size: 1em;
	color: #555;
	line-height: 1.8em;
}
/*--//blank-page--*/
/*--login-page--*/
.login-page {
	width: 40%;
	margin: 1em auto 0;
}
.login-page h3.title1 {
	text-align: center;
	margin-bottom: 0;
}
.login-top {
	padding: 1.5em;
	border-bottom: 1px solid #DED9D9;
	text-align: center;
}
.login-body {
	padding: 2em;
}
.login-top h4 {
	font-size: 1.1em;
	color: #aaa;
	line-height: 1.8em;
}
.login-top h4 a {
	color: #66D223;
}
.login-top h4 a:hover {
	color: #aaa;
}
.login-page input[type="text"], .login-page input[type="password"] {
	font-size: 0.9em;
	padding: 10px 15px 10px 15px;
	width: 100%;
	color: #A8A8A8;
	outline: none;
	border: 1px solid #D3D3D3;
	background: #FFFFFF;
	margin: 0em 0em 1.5em 0em;
}
.login-page input.user {
	background: url(../images/user.html)no-repeat 8px 10px #fff;
}
.login-page input.lock {
	/*background: url(../images/lock.html)no-repeat 8px 10px #fff;*/
}
.login-page label.checkbox {
	margin: 0 0 0 1.3em;
	font-size: 1em;
	color: #aaa;
	font-weight: 400;
	display: inline-block;
	float: left;
}
.login-page label.checkbox {
	margin-left: 1.3em;
}
.login-page label.checkbox {
	margin-left: 1.3em;
	font-size: 1em;
	color: #aaa;
	font-weight: 400;
	display: inline-block;
	cursor: pointer;
}
.forgot-grid {
	margin-top: 1.2em;
}
.forgot {
	float: right;
}
.forgot a {
	font-size: 1em;
	color: #aaa;
	display: block;
}
.forgot a:hover {
	color: #66D223;
}
.login-page input[type="submit"] {
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	background: #66D223;
	width: 100%;
	padding: .5em 1em;
	font-size: 1em;
	margin: 0.5em 0 0;
}
.login-page input[type="submit"]:hover {
	background: #66D223;
}
.login-page-bottom {
	text-align: center;
}
.social-btn {
	display: inline-block;
	background: #3B5998;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.social-btn i {
	color: #fff;
	padding: .8em 1.3em;
	font-size: 0.9em;
	vertical-align: middle;
}
.social-btn i.fa {
	background-color: #354F88;
	padding: .6em 1em;
	font-size: 1.1em;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
}
.social-btn:hover {
	background: #354F88;
}
.social-btn.sb-two {
	background-color: #dc4d28;
	margin-left: 2em;
}
.social-btn i.fa.fa-google-plus {
	background-color: #C54523;
}
.social-btn.sb-two:hover {
	background-color: #C54523;
}
.login-page-bottom h5 {
	font-size: 1.5em;
	color: #aaa;
	font-weight: 800;
	margin: 1em 0;
}
.social-btn:hover i.fa {
	transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}
/*--//login-page--*/

/*--Sign-Up-page--*/
.signup-page {
	width: 40%;
	margin: 1em auto 0;
}
.signup-page h3.title1 {
	text-align: center;
	margin-bottom: 0;
}
.login-top {
	padding: 1em;
	border-bottom: 1px solid #DED9D9;
	text-align: center;
}
.signup-body {
	padding: 2em;
}
.login-top h4 {
	font-size: 1.1em;
	color: #aaa;
	line-height: 1.8em;
}
.login-top h4 a {
	color: #66D223;
}
.login-top h4 a:hover {
	color: #aaa;
}
.signup-page input[type="text"], .signup-page input[type="password"], form textarea {
	font-size: 0.9em;
	padding: 10px 15px 10px 15px;
	width: 100%;
	color: #A8A8A8;
	outline: none;
	border: 1px solid #D3D3D3;
	background: #FFFFFF;
	margin: 0em 0em 1.5em 0em;
}
.signup-page input.user {
	background: url(../images/user.html)no-repeat 8px 10px #fff;
}
.signup-page input.lock {
	/*background: url(../images/lock.html)no-repeat 8px 10px #fff;*/
}
.signup-page label.checkbox {
	margin: 0 0 0 1.3em;
	font-size: 1em;
	color: #aaa;
	font-weight: 400;
	display: inline-block;
	float: left;
}
.signup-page label.checkbox {
	margin-left: 1.3em;
}
.signup-page label.checkbox {
	margin-left: 1.3em;
	font-size: 1em;
	color: #aaa;
	font-weight: 400;
	display: inline-block;
	cursor: pointer;
}
.forgot-grid {
	margin-top: 1.2em;
}
.forgot {
	float: right;
}
.forgot a {
	font-size: 1em;
	color: #aaa;
	display: block;
}
.forgot a:hover {
	color: #66D223;
}
.signup-page input[type="submit"] {
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	background: #66D223;
	width: 100%;
	padding: .5em 1em;
	font-size: 1em;
	margin: 0.5em 0 0;
}
.signup-page input[type="submit"]:hover {
	background: #66D223;
}
.signup-page-bottom {
	text-align: center;
}
.social-btn {
	display: inline-block;
	background: #3B5998;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.social-btn i {
	color: #fff;
	padding: .8em 1.3em;
	font-size: 0.9em;
	vertical-align: middle;
}
.social-btn i.fa {
	background-color: #354F88;
	padding: .6em 1em;
	font-size: 1.1em;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
}
.social-btn:hover {
	background: #354F88;
}
/*.social-btn.sb-two {
	background-color: #dc4d28;
	margin-left: 2em;
}
.social-btn i.fa.fa-twitter {
	background-color: #40A2D1;
}
.social-btn.sb-two:hover {
	background-color: #40A2D1;
}*/
.signup-page-bottom h5 {
	font-size: 1.5em;
	color: #524C4F;
	font-weight: 800;
	margin: 1em 0;
}
.social-btn:hover i.fa {
	transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}
/*--//Sign-Up-page--*/


/*-- sign-up --*/
/*.signup-page h3.title1 {
    margin-bottom: 0.4em;
	text-align: center;
}
p.creating {
    text-align: center;
}
.sign-up-row {
    padding: 2em;
    width: 70%;
    margin: 2em auto;
}
.sign-up1{
	float:left;
}
.sign-up1 h4 {
    color: #aaa;
    margin: 1.6em 0 1em;
    font-size: 1em;
}
.sign-up2{
	float:right;
	width:78%;
}
.sign-up2 label {
    font-weight: 400;
    margin: 1.6em 2em 1em 0;
}
.sign-up2 input[type="text"],.sign-up2 input[type="password"]{
	outline:none;
	border: 1px solid #D0D0D0;
    background: none;
    font-size: 14px;
	padding:10px 10px;
	width:100%;
	margin:1em 0;
}
.sign-up2 input[type="text"]:focus ,.sign-up2 input[type="password"]:focus{
    border-color: #66D223;
}
.signup-page h5,.signup-page h6{
	margin: 0 0 1em;
    color:#66D223;
    font-size: 1.1em;
}
.signup-page h6{
	margin:1em 0 !important;
}
.sub-login-left{
	float:left;
	width:30%;
}
.sub-login-right{
	float:right;
}
.sub-login{
	margin:5em 0 0;
}
.signup-page p{
    font-size: 1em;
    color: #aaa;
}
.sub-login-right p a {
    color: #a88add;
    padding-left: 8px;
}
.sub-login-right p a:hover{
	color:#fff;
}
.sub_home  input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #66D223;
    width: 23%;
    padding: .5em 1em;
    font-size: 1em;
    margin: 0.5em 0 0 11em;
}
.sub_home input[type="submit"]:hover {
    background-color: #66D223;
}
.signup-page .radios {
    margin-top: 1.5em;
}
.signup-page label.label_radio {
    margin-right: 2em;
    color: #7D7878;
    font-size: 1em;
}*/
/*-- //sign-up --*/

/*--general elements--*/
.panel-info.widget-shadow {
	padding: 2em 1em;
}
.panel {
	border-radius: inherit;
}
.general h4.title2 {
	font-size: 1.4em;
	margin: 0 0 1em 1em;
	color: #777777;
}
.modals {
	margin-top: 2em;
	padding: 2em 1em;
}
.modal .row {
	margin: 1em 0 0;
}
h4.modal-title {
	margin: 0;
}
.modal-grids button.btn.btn-primary {
	background-color: #66D223;
	font-size: 1em;
	color: #fff;
	border-color: #66D223;
	outline: none;
	border-radius: 3px;
}
.general-grids {
	padding: 2em 1.5em;
	width: 49%;
}
.general-grids.grids-right {
	margin-left: 2%;
}
/*--ScrollSpy --*/
.scrollspy-example {
	position: relative;
	height: 200px;
	margin-top: 10px;
	overflow: auto;
	padding-right: 20px;
}
.scrollspy-example h4 {
	font-size: 1.2em;
	color: #66D223;
	margin-bottom: .5em;
}
.scrollspy-example p {
	font-size: 0.9em;
	color: #555;
	line-height: 1.8em;
	margin-bottom: 2em;
}
.general-grids ul.dropdown-menu {
	padding: 0.5em;
}
.general-grids h4.title2, .tool-tips h4.title2 {
	margin: 0 0 1em;
}
/*--tabs --*/
.nav-tabs {
	border-bottom: 1px solid #797979;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 1px solid #797979;
	border-bottom-color: transparent;
}
.tab-content p {
	font-size: 0.9em;
	color: #555;
	line-height: 1.8em;
}
/*--tool-tips--*/
.tool-tips.widget-shadow {
	padding: 2em;
	margin-top: 2em;
}
.bs-example-tooltips {
	margin-bottom: 1em;
	text-align: center;
}
.bs-example-tooltips .btn-default {
	margin-right: 1em;
}
.collps-grids {
	width: 49%;
}
/*--//general elements--*/




/*--todo--*/
.single-bottom ul li {
	list-style: none;
	padding: 0px 10px 18px;
}
.single-bottom ul li input[type="checkbox"] {
	display: none;
}
.single-bottom ul li input[type="checkbox"]+label {
	position: relative;
	padding-left: 2em;
	border: none;
	outline: none;
	font-size: 0.9em;
	color: #999;
	font-weight: 400;
	cursor: pointer;
}
.single-bottom ul li input[type="checkbox"]+label span:first-child {
	width: 17px;
	height: 17px;
	display: inline-block;
	border: 2px solid #C8C8C8;
	position: absolute;
	left: 0;
	top: 2px;
}
.single-bottom ul li input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url(../images/tick.png)no-repeat;
	position: absolute;
	left: 1px;
	top: 2px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}

/*--//todo--*/


/*---- responsive-design -----*/
@media(max-width:1440px) {
.login-page {
	width: 43%;
}
.signup-page {
	width: 43%;
}
.general .tab-content {
	padding: 1em 0.5em 0;
}
.activity-desc-sub:before {
	left: -9%;
}
.activity-desc-sub1:after {
	right: -8.5%;
}
.doughnut-grid {
	width: 81%;
	margin: 2.5em auto 1.6em;
}
.chrt-page-grids canvas#line {
	height: 310px !important;
}
.chrt-page-grids canvas#bar {
	height: 292px !important;
}
.navbar-collapse.bs-example-js-navbar-scrollspy {
	padding: 0;
}
.navbar-collapse.bs-example-js-navbar-scrollspy .nav > li > a {
	padding: 15px 13px;
}
.general-grids .tab-content {
	overflow-y: scroll;
	height: 228px;
}
.sub_home input[type="submit"] {
	margin: 0.5em 0 0 9.2em;
}
}

@media(max-width:1366px) {
.navbar-collapse.bs-example-js-navbar-scrollspy .nav > li > a {
	padding: 15px 11px;
}
.weather-right ul li:nth-child(2) {
	margin: 0 1em;
}
.activity-desc-sub1:after {
	right: -9%;
}
.activity-desc-sub:before {
	left: -10%;
}
/*.login-page {
    width: 46%;
}*/
.login-page {
	width: 75%;
}
.signup-page {
	width: 75%;
}
.popup.share .login-page {
	width: 90% !important;
}
.doughnut-grid {
	margin: 3.6em auto 1.6em;
}
.pie-grid {
	margin: 4.1em auto 1em;
}
.polar-area {
	margin: 2.8em auto 0.6em;
}
#navbar-example2 .navbar-brand {
	font-size: 16px;
}
.navbar-collapse.bs-example-js-navbar-scrollspy .nav > li > a {
	padding: 15px 8px;
	font-size: 0.9em;
}
}

@media(max-width:1280px) {
.profile-text {
	padding: 1.5em 2em;
}
.profile-btm ul li {
	width: 32.4%;
}
.activity-img1 {
	width: 75%;
}
.activity-img2 {
	padding: 0;
}
.activity-right .activity-img {
	padding-left: 0;
}
.activity-left .activity-img {
	padding-right: 0;
}
.activity-desc-sub:before {
	left: -9.4%;
}
.activity-desc-sub1:after {
	right: -8.5%;
}
.weather-right ul li:nth-child(2) {
	margin: 0 0.3em;
}
.sign-up2 {
	width: 75%;
}
.tile-progress {
	padding: 2em 2em;
}
.login-page {
	width: 52%;
}
.signup-page {
	width: 52%;
}
.sub_home input[type="submit"] {
	margin: 0.5em 0 0 9em;
}
.chrt-page-grids canvas#line {
	height: 282px !important;
}
.chrt-page-grids canvas#bar {
	height: 265px !important;
}
}

@media(max-width:1080px) {
.logo a {
	padding: 0.9em 2.35em .7em;
}
/*.header-left {
    width: 69%;
}*/
.cbp-spmenu-vertical {
	width: 278px;
}
.cbp-spmenu-push div#page-wrapper {
	margin: 0 0 0 17.4em;
	padding: 6.5em 1.5em 2em;
}
.sidebar ul li {
	margin-bottom: 0.8em;
}
.wid-social .social-info h3 {
	font-size: 1.1em;
}
.stats-info ul li {
	padding-bottom: 9px;
}
.youtube .social-icon {
	margin-right: 4em;
}
h3.title1 {
	font-size: 1.8em;
}
.general-grids {
	width: 100%;
}
.general-grids.grids-right {
	margin: 2em 0 0;
}
#navbar-example2 .navbar-brand {
	font-size: 18px;
}
.navbar-collapse.bs-example-js-navbar-scrollspy .nav > li > a {
	padding: 15px 20px;
	font-size: 1em;
}
.header-head {
	padding: 2em 1em;
}
.profile-text {
	padding: 1.5em 1.2em;
}
div#vmap {
	height: 311px !important;
}
.profile-btm ul li {
	width: 32.2%;
}
.wid-social {
	width: 33.33%;
	padding: 16px 8px;
}
.wid-social .social-info h4 {
	font-size: 0.7em;
	letter-spacing: 0.5px;
}
.inbox-page {
	width: 96%;
}
.sign-up-row {
	width: 78%;
}
.weather-grids {
	width: 100%;
}
.weather-grids.weather-right {
	margin: 2em 0 0;
}
.weather-right ul li:nth-child(2) {
	margin: 0 3em;
}
.scrollbar {
	padding: 1.5em 1em 0;
}
.activity-row p {
	font-size: 0.8em;
}
.activity-row {
	margin-bottom: 0;
	padding-bottom: 1em;
}
.activity-desc-sub:before {
	left: -12%;
	top: 17%;
}
.activity-desc-sub1:after {
	right: -10.5%;
}
.sign-up2 {
	width: 72%;
}
.single-bottom ul li {
	padding: 0px 0px 18px;
}
.inbox-page {
	width: 100%;
}
.compose-left ul li a {
	padding: 0.7em 1em;
}
.login-page {
	width: 63%;
}
.signup-page {
	width: 63%;
}
.chrt-page-grids canvas#line {
	height: 237px !important;
}
.polar-area {
	margin: 2em auto 0em;
	width: 80%;
}
.chrt-page-grids canvas#bar {
	height: 223px !important;
}
.charts, .row {
	margin: 1.5em 0 0;
}
}

@media(max-width:1024px) {
.panel_2 {
	padding: 1.5em 1em 0;
}
.doughnut-grid {
	width: 87%;
}
}

@media(max-width:991px) {
.search-box {
	margin: 1.2em 0 0 2em;
}
.widget {
	float: left;
}
.stats-info.widget {
	width: 36%;
}
.stats-info.stats-last {
	width: 62%;
	float: left;
}
.map {
	float: left;
	width: 60%;
}
.social-media {
	width: 38%;
	float: left;
}
.grid_box1 {
	margin-bottom: 1em;
}
.example_6, .media_1 {
	margin: 1.5em 0 0 0;
}
.media_1-left {
	width: 100%;
}
.media_1-right {
	float: none;
	margin: 0;
	width: 100%;
}
.panel_2 {
	padding: 1.5em 1em;
}
.panel_2.panel_3 {
	margin-top: 1.5em;
}
.panel_2 .table {
	margin-bottom: 0;
}
.modal-grids {
	float: left;
	width: 33%;
	text-align: center;
}
.modal-grids:nth-child(4) {
	margin-top: 0.2em;
}
.bs-example-tooltips {
	text-align: left;
}
.modals {
	margin-top: 1.5em;
}
.tool-tips.widget-shadow {
	margin-top: 1.5em;
}
h3.title1 {
	font-size: 1.6em;
}
.profile {
	width: 100%;
}
.chat-mdl-grid {
	margin: 1.5em 0;
}
.profile-text {
	padding: 1.5em 5em;
}
.scrollbar {
	padding: 1.5em 3em 0;
}
.activity-desc-sub:before {
	left: -3.8%;
	top: 29%;
}
.activity-desc-sub, .activity-desc-sub1 {
	padding: .7em 1em;
}
.activity-desc-sub1:after {
	right: -3.5%;
	top: 36%;
}
.activity-row .col-xs-3 {
	width: 15%;
}
.activity-img1, .activity-img2 {
	width: 85%;
}
.activity-left .activity-img img {
	margin: 0 0 0 auto;
}
.mail.mail-name {
	width: 20%;
}
.mail-right {
	margin-left: 0.8em;
}
.inbox-page h6 {
	font-size: 0.9em;
}
.inbox-page p {
	font-size: 0.9em;
}
.compose-left {
	width: 35%;
	float: left;
}
.compose-right {
	width: 62%;
	float: right;
}
.inline-form .form-group, .inline-form .checkbox, .form-two .form-group {
	margin-right: 0.5em;
}
.form-three {
	margin-top: 1em;
}
.validation-grids {
	width: 100%;
}
.validation-grids.validation-grids-right {
	margin: 1.5em 0 0;
}
.inline-form.widget-shadow {
	margin-top: 1.5em;
}
.login-page {
	width: 70%;
}
.signup-page {
	width: 70%;
}
.sign-up-row {
	width: 90%;
}
.sign-up2 {
	width: 71%;
}
.chrt-page-grids {
	width: 100%;
	padding: 1.5em 2em;
}
.chrt-page-grids.chrt-right {
	margin: 1.5em 0 0;
}
.doughnut-grid {
	width: 65%;
	margin: 2em auto 0.5em;
}
.radar-grid {
	width: 70%;
}
.polar-area, .pie-grid {
	width: 60%;
	margin: 1.5em auto 0;
}
}

@media(max-width:900px) {
.logo a {
	padding: 0.95em 1.95em .7em;
}
.logo a span {
	letter-spacing: 5px;
}
.search-box {
	width: 39%;
}
li.dropdown.head-dpdn a.dropdown-toggle {
	padding: 1.7em 1.5em;
}
.profile_details_drop a.dropdown-toggle {
	padding: 0.8em 2em 0 1em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
	padding: 0.5em;
	min-width: 163px;
}
button#showLeftPush {
	width: 50px;
}
.cbp-spmenu-vertical {
	padding: 1.5em 0;
	width: 231px;
}
.sidebar ul li a {
	font-size: 0.9em;
}
.sidebar .nav-second-level li a {
	font-size: .8em !important;
}
.cbp-spmenu-push div#page-wrapper {
	margin: 0 0 0 14.5em;
}
.bs-example-tooltips .btn-default {
	margin-right: 0.2em;
}
.grid_3.grid_5 .label {
	font-size: 60%;
}
.well {
	font-size: 0.9em;
	line-height: 1.8em;
	padding: 11px 15px;
}
.compose-right .panel-body {
	padding: 1.5em;
}
.tables .panel-body, .tables .bs-example {
	padding: 1.5em 1.5em 0em;
}
.tables h4 {
	margin-bottom: 0.8em;
}
.tables .table > thead > tr > th, .tables .table > tbody > tr > th, .tables .table > tfoot > tr > th, .tables .table > thead > tr > td, .tables .table > tbody > tr > td, .tables .table > tfoot > tr > td {
	font-size: 0.9em;
}
.form-body {
	padding: 1.5em;
}
.forms button.btn.btn-default {
	padding: .5em .9em;
}
.login-page {
	width: 77%;
}
.signup-page {
	width: 77%;
}
.login-top h4 {
	font-size: 1em;
}
.sign-up2 input[type="text"], .sign-up2 input[type="password"] {
	padding: 8px 10px;
	margin: 0.5em 0;
}
.sign-up1 h4 {
	margin: 1em 0 0;
}
.blank-page p {
	font-size: 0.9em;
}
.doughnut-grid {
	width: 55%;
}
.polar-area, .pie-grid {
	width: 55%;
}
}

@media(max-width:800px) {
.search-box {
	width: 38%;
	margin: 0.0em 0 0 0em;
}
}

@media(max-width:768px) {
.logo a {
	padding: 1.1em 1.3em .7em;
}
.logo a h1 {
	font-size: 1.2em;
	line-height: 1em;
}
.logo a span {
	font-size: .6em;
}
li.dropdown.head-dpdn a.dropdown-toggle {
	padding: 1em 1.4em;
}
button#showLeftPush {
	padding: 0.43em 0;
}
.sb-search-input {
	font-size: 0.8em;
	padding: 0.5em;
}
.search-box {
	width: 36%;
	/*margin: 1em 0 0 2em;*/
	margin: 0em 0 0 2em;
}
li.dropdown.head-dpdn {
	padding: 1.5em 0;
}
li.dropdown.head-dpdn a.dropdown-toggle {
	padding: 1.5em 1.6em 1.5em 1.2em;
}
.profile_details_drop a.dropdown-toggle {
	padding: 0.6em 2em 0 1em;
}
.profile_details li a i.fa.lnr {
	top: 28%;
}
.cbp-spmenu-vertical {
	padding: 1em 0;
	width: 201px;/* top: 69px;*/
}
.cbp-spmenu-push div#page-wrapper {
	margin: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0
}
.cbp-spmenu-vertical {
	left: -309px;
}
.activity-desc-sub:before {
	left: -3.4%;
}
.activity-desc-sub1:after {
	right: -3.1%;
}
}

@media(max-width:640px) {
.sidebar .navbar-collapse.collapse {
	display: block;
}
.header-left {
	width: 100%;
	float: none;
}
.search-box {
	width: 37%;
	margin: 1em 0 0 0em;
}
.header-right {
	float: none;
	width: 98%;
	padding: 0;/* margin-top: 1em; */
}
.profile_details_drop a.dropdown-toggle {
	padding: 0 3em 0 0;
}
.header-right span.badge {
	font-size: 9px;
	line-height: 13px;
	width: 18px;
	height: 17px;
}
.header-right i.fa {
	font-size: .9em;
	margin-right: 0.2em;
}
.progress {
	height: 7px;
	margin-bottom: 5px;
}
li.dropdown.head-dpdn {
	padding: 1.2em 0;
}
li.dropdown.head-dpdn a.dropdown-toggle {
	padding: 1.2em 2em 1.2em 1.5em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
	padding: 0.5em 1em;
}
ul.dropdown-menu.drp-mnu li {
	padding: 6px 0;
}
.profile_details .dropdown-menu > li > a {
	padding: 0;
	font-size: 0.9em;
}
.profile_details li a i.fa.lnr {
	top: 14%;
}
.cbp-spmenu-push div#page-wrapper {
	padding: 10.5em 1em 2em;
}
h4.title {
	font-size: 1em;
}
.stats-left h4 {
	font-size: 1.7em;
}
.stats-right {
	padding: 1.35em 0em;
}
.wid-social {
	padding: 15px 8px;
}
.activity-desc-sub:before {
	left: -4.3%;
}
.activity-desc-sub1:after {
	right: -3.8%;
}
.charts, .row {
	margin: 1.3em 0 0;
}
.charts-grids canvas#pie {
	width: 100% !important;
	height: auto !important;
	margin: 0.9em 0;
}
.stats-info ul li {
	font-size: 0.8em;
}
.progress.progress-right {
	width: 33%;
	height: 5px;
}
.stats-table td {
	padding: 9px 13px !important;
}
.grids {
	padding: 1.5em 0.5em;
}
.grid-bottom {
	padding: 1.5em;
}
.grid-bottom th {
	font-size: 0.8em;
}
.panel-info.widget-shadow {
	padding: 1.5em 0.5em 0.5em;
}
.panel-body {
	font-size: 0.9em;
}
.navbar-nav {
	margin: 0;
}
.grid_5 {
	margin-top: 1.5em;
}
.grid_4 {
	margin-top: 20px;
}
.tab-content > .active {
	padding: 0.5em 0 0;
}
.bs-example {
	margin-top: 1em;
}
.widget_1_box {
	width: 100%;
}
.widget_1_box.widget-mdl-grid {
	margin: 3% 0;
}
.tile-progress {
	padding: 1.5em 2em;
}
.inbox-page.row {
	margin-top: 1.5em;
}
.compose-left ul li a {
	padding: 0.58em 1em;
}
.form-grids-right label {
	float: left;
	text-align: right;
	width: 20%;
}
.form-grids .checkbox label {
	width: 100%;
	text-align: left;
}
.form-grids .col-sm-offset-2 {
	margin-left: 7em;
}
.form-grids .col-sm-9 {
	float: right;
	width: 80%;
}
.forms button.btn.btn-default {
	padding: .5em 2.5em;
}
.signup-page p {
	font-size: 0.9em;
	margin: 0 5em;
	line-height: 1.8em;
}
.footer p {
	font-size: 0.9em;
}
}

@media(max-width:480px) {
.search-box {
/* margin: 1em 0 0 3em; */
}
.logo a {
	padding: 1em 1.38em .6em;
}
.logo a span {
	font-size: .55em;
}
.cbp-spmenu-vertical {
	/* top: 62px;*/
	top: 95px;
}
.stats-left {
	width: 68%;
	padding: 1em .6em;
}
.stats-right {
	padding: 1.52em 0;
	width: 32%;
}
.sidebar .nav-second-level li a {
	padding-left: 40px !important;
}
.stats-left h4 {
	font-size: 1.4em;
}
.stats-right label {
	font-size: 1.5em;
}
.charts, .row {
	margin: 1.1em 0 0;
}
.charts .charts-grids {
	width: 100%;
	padding: 1em 2em;
}
.charts-grids canvas#bar, .charts canvas#line {
	height: 215px !important;
}
.charts-grids.states-mdl {
	margin: 4% 0;
}
.charts-grids canvas#pie {
	width: 73% !important;
	margin: 0 auto;
}
.stats-info.widget {
	width: 100%;
	float: none;
}
.stats-info.stats-last {
	width: 100%;
	float: none;
	margin: 4% 0 0;
}
.map {
	float: none;
	width: 100%;
}
div#vmap {
	height: 250px !important;
}
.social-media {
	width: 100%;
	float: none;
	margin: 3% 0 0;
}
.bs-example-tooltips .btn-default {
	margin: 0 auto 1em;
	display: block;
}
.modals {
	padding: 1.5em 1em;
}
.modals h4.title2 {
	margin: 0 0 1em 0;
}
.modal-grids {
	float: left;
	width: inherit;
	text-align: center;
	padding: 0;
}
.modal-grids:nth-child(3) {
	margin: 0 1em;
}
.modal-grids button.btn.btn-primary {
	font-size: 0.9em;
}
.scrollspy-example p {
	margin-bottom: 0.8em;
}
.tool-tips.widget-shadow {
	padding: 1.5em;
}
.general-grids.grids-right {
	margin: 1.5em 0 0;
}
.popover {
	max-width: 140px;
}
.grid_3.grid_5 .label {
	font-size: 41%;
}
h3.hdg {
	font-size: 1.5em;
}
.table {
	margin-bottom: 0;
}
.header-top {
	padding: 1em 1.5em;
}
.weather-grids.weather-right {
	margin: 1.5em 0 0;
}
.weather-right ul li:nth-child(2) {
	margin: 0 0.4em;
}
.inbox-page p {
	font-size: 0.8em;
}
.inbox-page h4 {
	font-size: 1em;
	margin-bottom: 0.8em;
}
.mail {
	margin-right: 0.7em;
}
.mail.mail-name {
	width: 10%;
}
.inbox-page h6 {
	font-size: 0.8em;
}
.inbox-row a .mail {
	margin: 0;
}
h3.title1 {
	margin-bottom: 0.6em;
}
.mail-body {
	padding: 0.5em 1em;
}
.mail-body input[type="text"] {
	padding: 0.5em 0;
	font-size: 0.9em;
}
.mail-body input[type="text"]:focus {
	padding: 1em 0;
}
.mail-body input[type="submit"] {
	font-size: 0.9em;
	margin-top: 0.2em;
}
.inbox-page.row {
	margin-top: 1em;
}
.footer p {
	font-size: 0.8em;
}
.compose-left {
	width: 100%;
	float: none;
}
.chat-grid.widget-shadow {
	margin-top: 1.3em;
}
.compose-right {
	width: 100%;
	float: none;
	margin: 4% 0 0;
}
.compose-right .alert.alert-info {
	padding: 6px 20px;
}
.compose-right .alert {
	margin-bottom: 14px;
}
.tables h4 {
	margin-bottom: 0.5em;
}
.tables .panel-body, .tables .bs-example {
	padding: 1.5em 1.5em;
}
.tables .table > thead > tr > th, .tables .table > tbody > tr > th, .tables .table > tfoot > tr > th, .tables .table > thead > tr > td, .tables .table > tbody > tr > td, .tables .table > tfoot > tr > td {
	font-size: 0.8em;
}
h3.title1 {
	font-size: 1.3em;
}
.form-three {
	padding: 1em 1.5em;
}
.form-title {
	padding: 0.8em 1.5em;
}
.forms h4 {
	font-size: 1.1em;
}
.login-page {
	width: 90%;
	margin: 0 auto;
}
.signup-page {
	width: 90%;
	margin: 0 auto;
}
.login-top {
	padding: 1em;
}
.login-page h3.title1 {
	margin-bottom: 0.8em;
}
.login-top h4 {
	font-size: 0.9em;
}
.signup-page h3.title1 {
	margin-bottom: 0.8em;
}
.login-body {
	padding: 1.5em;
}
.signup-body {
	padding: 1.5em;
}
.login-page input[type="text"], .login-page input[type="password"] {
	margin: 0 0 1em 0;
}
.login-page label.checkbox {
	font-size: 0.9em;
}
.login-page-bottom h5 {
	font-size: 1.3em;
	margin: 1em 0;
}
.signup-page input[type="text"], .signup-page input[type="password"] {
	margin: 0 0 1em 0;
}
.signup-page label.checkbox {
	font-size: 0.9em;
}
.signup-page-bottom h5 {
	font-size: 1.3em;
	margin: 1em 0;
}
.social-btn i {
	padding: .8em 1em;
	font-size: 0.8em;
}
.social-btn i.fa {
	padding: .5em 0.8em;
	font-size: 1em;
}
.sign-up-row {
	padding: 1.5em;
	margin: 0.8em auto 0;
}
.sign-up1 h4 {
	margin: 1.1em 0 0;
	font-size: 0.9em;
}
.sign-up2 label {
	margin: 1em 2em 0 0;
	font-size: .9em;
}
.sub_home input[type="submit"] {
	margin: 0.5em 0 0 6.6em;
	width: 28%;
	font-size: 0.9em;
}
.blank-page {
	padding: 1.5em;
}
.chrt-page-grids {
	width: 100%;
	padding: 1em 1.5em;
}
ul.nav.nav-second-level li a {
	padding: 8px 15px;
}
span.nav-badge-btm {
	font-size: 11px;
	padding: 0 0.7em;
}
span.nav-badge {
	font-size: 10px;
	width: 23px;
	height: 23px;
	line-height: 23px;
}
.sidebar ul li {
	margin-bottom: 0.6em;
}
h3.title1 {
	font-size: 1.4em;
}
}

@media(max-width:320px) {
.logo a {
	padding: 0.5em 1em .3em;
}
.logo {
	width: 130px;
	margin-top: 5px;
}
/*.logo a h1 {
    font-size: 1em;
	line-height: 0.7em;
}
.logo a span {
    letter-spacing: 4px;
	font-size: .5em;
}*/
button#showLeftPush {
	width: 51px;
}
i.fa.fa-bars {
	font-size: 0.8em;
}
button#showLeftPush {
	padding: 0.4em 0;
}
.search-box {
	margin: 0.3em 0 0 0.6em;
}
.sb-search-input {
	font-size: 0.75em;
	padding: 0.8em .9em;
}
.header-right {
/* margin-top: 0.5em; */
}
li.dropdown.head-dpdn {
	padding: 0.8em 0;
}
li.dropdown.head-dpdn a.dropdown-toggle {
	padding: 0.8em 1.3em 0.8em 0.8em;
}
li.dropdown.head-dpdn a.dropdown-toggle {
	padding: 0.8em 1.3em 0.8em 0.8em;
}
.header-right span.badge {
	font-size: 8px;
	line-height: 11px;
	width: 16px;
	height: 15px;
}
.header-right i.fa {
	margin-right: 0;
}
.profile_details_drop a.dropdown-toggle {
	padding: 0 1.5em 0 0;
}
.user-name p {
	font-size: 0.9em;
}
.profile_img span.prfil-img {
	width: 32%;
}
.profile_img span.prfil-img img {
	width: 100%;
}
.user-name {
	margin-top: 5px;
	margin-left: 8px;
}
.profile_details li a i.fa.lnr {
	top: 8%;
}
.cbp-spmenu-vertical {
	padding: 0.5em 0;
	width: 161px;
	/* top: 52px;*/
	top: 92px;
}
i.nav_icon {
	margin-right: 0.7em;
	font-size: 1em;
}
.sidebar ul li a {
	font-size: 0.85em;
	padding: 5px 10px;
}
span.nav-badge {
	font-size: 8px;
	width: 21px;
	height: 20px;
	line-height: 21px;
}
span.nav-badge-btm {
	font-size: 9px;
	padding: 0 0.8em;
	line-height: 18px;
	top: 22%;
}
ul.nav.nav-second-level li a {
	padding: 5px 32px;
}
.cbp-spmenu-push div#page-wrapper {
	padding: 8.2em 1em 1.5em;
}
.bs-example5 {
	padding: 1em;
}
.panel-info.widget-shadow {
	padding: 1.5em 0em 0.5em;
}
.panel-body {
	padding: 10px;
}
.tool-tips.widget-shadow {
	padding: 1em;
}
.widget {
	float: none;
	width: 100%;
}
.widget.states-mdl {
	margin: 3% 0;
}
.stats-right {
	padding: 1.35em 0;
}
.charts .charts-grids {
	padding: 0.5em 1em;
}
h4.title {
	margin: 0.5em 0 0.8em;
}
.stats-info.stats-last {
	padding: 0.8em;
}
.stats-left {
	padding: 0.82em .6em;
}
.stats-table th {
	font-size: 0.7em;
}
.stats-table td {
	padding: 9px 8px !important;
	font-size: 0.7em;
}
.map {
	padding: 0.5em .8em;
}
.map h4.title {
	margin-bottom: 0;
}
div#vmap {
	height: 180px !important;
}
.social-media .icon-xlg {
	font-size: 20px;
}
.wid-social .social-info h3 {
	font-size: 1em;
}
.wid-social .social-info h4 {
	font-size: 0.75em;
	letter-spacing: 0px;
}
.charts, .row {
	margin: 1em 0 0;
}
.calender {
	padding: 0.5em 1em 1em;
}
h3.title1 {
	font-size: 1.3em;
}
.grids {
	padding: 1em 0em;
	margin-bottom: 1.5em;
}
.grid-bottom {
	padding: .5em;
}
.grid-bottom th {
	font-size: 0.6em;
}
.grid-bottom td {
	font-size: .75em;
}
.sidebard-panel .feed-element, .media-body, .sidebard-panel p {
	font-size: 0.8em;
}
.media {
	margin-top: 16px !important;
}
.media_1 td.head {
	font-size: 1em !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.7em;
	padding: 5px;
}
.padding-5 {
	padding: 2px;
}
.padding-l-5 {
	padding-left: 2px;
}
.padding-r-5 {
	padding-right: 2px;
}
.padding-t-5 {
	padding-top: 2px;
}
.padding-b-5 {
	padding-bottom: 2px;
}
.notification_header h3 {
	font-size: 11px;
}
.notification_desc p {
	font-size: 12px;
}
.notification_desc p span {
	font-size: 10px;
}
.dropdown-menu > li > a {
	padding: 3px 8px;
}
ul.dropdown-menu {
	min-width: 175px;
}
.notification_header {
	margin-bottom: 4px;
}
.notification_bottom a {
	font-size: 0.9em;
}
.progress {
	height: 6px;
	margin: 4px 0;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
	min-width: 130px;
}
ul.dropdown-menu.drp-mnu li {
	padding: 4px 0;
}
.modal-grids {
	float: none;
}
.modal-grids:nth-child(3) {
	margin: 1em 0;
}
.general-grids {
	padding: 1.5em 1em;
}
#navbar-example2 .navbar-brand {
	font-size: 16px;
}
.navbar {
	margin-bottom: 12px;
}
.scrollspy-example p {
	font-size: 0.8em;
}
.grids-right .nav > li > a {
	padding: 10px 10px;
}
.grids-right ul.dropdown-menu {
	min-width: 105px;
}
.tool-tips.widget-shadow {
	margin-top: 1.2em;
}
.general h4.title2 {
	font-size: 1.2em;
}
.header-head {
	padding: 1.5em 0;
}
.header-head h4 {
	font-size: 0.9em;
}
.weather-grids canvas {
	width: 45px;
}
.bottom-head p {
	font-size: 0.8em;
}
.header-head h6 {
	font-size: 1.1em;
}
.header-top {
	padding: 1em 1em;
}
.header-top li p {
	font-size: 0.8em;
	padding: 2px 6px;
}
.weather-grids canvas#clear-day {
	width: 25px;
}
.header-top h2 {
	margin: .2em 0 0 .5em;
	font-size: 1.2em;
}
.weather-grids.weather-right {
	margin: 1.2em 0 0;
}
.weather-right ul li:nth-child(2) {
	margin: 2em 0;
}
.profile-text {
	padding: 1.5em 1.5em;
}
.scrollbar {
	padding: 1.5em 1em 0;
}
.activity-row .col-xs-3 {
	width: 21%;
}
.activity-img1, .activity-img2 {
	width: 78%;
}
.activity-desc-sub:before {
	left: -9%;
	top: 20%;
}
.activity-desc-sub1:after {
	right: -8.5%;
	top: 28%;
}
.activity-row p {
	font-size: 0.8em;
}
.activity-desc-sub, .activity-desc-sub1 {
	padding: .5em 0.8em;
}
h4.title3 {
	padding: 0.6em 1em;
}
.single-bottom ul li input[type="checkbox"]+label {
	font-size: 0.8em;
}
.single-bottom ul li input[type="checkbox"]+label span:first-child {
	width: 15px;
	height: 15px;
	top: 1px;
}
.compose-left ul li.head {
	font-size: 1em;
}
.compose-left ul li a {
	font-size: 0.9em;
}
.compose-right .panel-body {
	padding: 1em;
}
.form-control1, .form-control_2.input-sm {
	height: 35px;
}
.validation .form-control {
	height: 29px;
}
.validation-grids .btn-primary {
	font-size: 0.8em;
}
.control2 {
	height: 150px;
}
.compose-right input[type="submit"] {
	margin-top: 0.5em;
}
.tables .panel-body, .tables .bs-example {
	padding: 1.5em 1em;
}
.form-body {
	padding: 1em;
}
.form-grids-right label {
	font-size: 0.9em;
}
.form-grids .col-sm-9 {
	width: 77%;
}
.form-grids .col-sm-offset-2 {
	margin-left: 4em;
}
.form-three {
	padding: 1em;


}
.forms label {
	font-size: 0.9em;
}
.login-page {
	width: 100%;
}
.signup-page {
	width: 100%;
}
.login-top h4 {
	font-size: 0.8em;
}
.login-body {
	padding: 1em;
}
.login-page input.user, .login-page input.lock {
	background-position: 11px 11px;
	background-size: 6%;
	padding: 8px 15px 8px 37px;
}
.signup-page input.user, .signup-page input.lock {
	background-position: 11px 11px;
	background-size: 6%;
	padding: 8px 15px 8px 37px;
}
.forgot a {
	font-size: 0.9em;
}
.login-page input[type="submit"] {
	font-size: 0.9em;
}
.signup-page input[type="submit"] {
	font-size: 0.9em;
}
.login-page-bottom h5 {
	font-size: 1.1em;
}
.social-btn.sb-two {
	margin: 1em 0 0;
}
.signup-page p {
	font-size: 0.8em;
	margin: 0;
}
.sign-up-row {
	width: 100%;
	padding: 1em;
}
.sign-up1, .sign-up2 {
	float: none;
	width: 100%;
}
.sign-up2 input[type="text"], .sign-up2 input[type="password"] {
	padding: 7px 10px;
	font-size: 12px;
}
.sign-up1 h4 {
	margin: .5em 0 0;
}
.blank-page {
	padding: 1em;
}
.sub_home input[type="submit"] {
	margin: 0.5em 0 0 0;
	width: 34%;
	font-size: 0.8em;
}
.chrt-page-grids {
	padding: 0.5em 1em;
}
.polar-area, .pie-grid {
	width: 80%;
	margin: 1em auto 0;
}
}
/*--//responsive-design---*/

.progresss .progress-bar.six-sec-ease-in-out {
	background-image: linear-gradient(#000, rgb(79, 82, 186));
	-webkit-transition: width 3s ease-in-out;
	-moz-transition: width 3s ease-in-out;
	-ms-transition: width 3s ease-in-out;
	-o-transition: width 3s ease-in-out;
	transition: width 3s ease-in-out;
}
.progress-bar-height {
	height: 3.5px;
}
#myElem {
	display: none;
}
.porro {
	margin-top: 8px;
	margin-bottom: 1px;
}
.dummy {
	padding: 13px 0px 15px 0px;
}
/*firefox csss*/
@-moz-document url-prefix() {
 .cbp-spmenu-vertical {
 width: 275px;
}
}

/*font-size: calc(2vw + 2vh + 1vmin);*/

/*video css */
/* @import url(../../../../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css); */
.card .card-image {
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.card {
	margin-top: 10px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 2px #ababab;
}
.card .card-content {
	padding: 10px;
}
.card .card-content .card-title, .card-reveal .card-title {
	font-size: 24px;
	font-weight: 200;
}
.card .card-action {
	padding: 20px;
	border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a {
	font-size: 15px;
	color: #ffab40;
	text-transform: uppercase;
	margin-right: 20px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.card .card-action a:hover {
	color: #ffd8a6;
	text-decoration: none;
}
.card .card-reveal {
	padding: 20px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.93);
	width: 100%;
	overflow-y: auto;
	left: 0;
	bottom: 0;
	height: 100%;
	z-index: 1;
	display: none;
}
.card .card-reveal p {
	color: rgba(0, 0, 0, 0.71);
	margin: 20px;
}
.btn-custom {
	background-color: transparent;
	font-size: 18px;
}
.uploads {
	margin-top: 20px;
}
.signup_button {
	margin-top: 20px;
}
/*image overlap*/
.cuadro_intro_hover {
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
}
.cuadro_intro_hover:hover .caption {
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform: translateY(-150px);
	-moz-transform: translateY(-150px);
	-ms-transform: translateY(-150px);
	-o-transform: translateY(-150px);
}
.cuadro_intro_hover img {
	z-index: 4;
}
.cuadro_intro_hover .caption {
	position: absolute;
	top: 150px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.cuadro_intro_hover .blur {
	background-color: rgba(75, 75, 75, 0.56);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.cuadro_intro_hover .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top: 0px;
	width: 100%;
}
.textcap {
	border-top: 2px solid white;
	border-bottom: 1px solid white;
	padding: 12px;
}
.margintb {
	margin: 5px 0px 10px 0px;
}
.bgcolors:hover {
	color: #fff;
	background: #66D223 !important;
}
/*slider images over*/
.col-item {
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background: #FFF;
	margin-bottom: 10px;
}
.col-item .photo img {
	margin: 0 auto;
	width: 100%;
}
.col-item .info {
	padding: 10px;
	border-radius: 0 0 5px 5px;
	margin-top: 1px;
}
.col-item:hover .info {
	background-color: #F5F5DC;
}
.col-item .price {
	/*width: 50%;*/
	float: left;
	margin-top: 5px;
	line-height: 30px;
}
.col-item .price h5 {
	line-height: 20px;
	margin: 0;
}
.price-text-color {
	color: #66D223;
}
.col-item .info .rating {
	color: #777;
	padding-left: 0;
}
.col-item .rating {
	float: left;
	font-size: 17px;
	text-align: right;
	line-height: 36px;
	margin-bottom: 10px;
	height: 36px;
}
.col-item .separator {
	border-top: 1px solid #E1E1E1;
}
.clear-left {
	clear: left;
}
.col-item .separator p {
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}
.col-item .separator p i {
	margin-right: 5px;
}
.col-item .btn-add {
	width: 50%;
	float: left;
}
.col-item .btn-add {
	border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
	width: 50%;
	float: left;
	padding-left: 10px;
}
.controls {
	margin-top: 5px;
	margin-bottom: 5px;
}
[data-slide="prev"] {
	margin-right: 10px;
}
.btn-success {
	color: #fff;
	background-color: #66D223 !important;
	border-color: #66D223 !important;
}
.btnsc {
	color: #fff;
	background: #66D223;
}
.form-control {
	width: 100%;
	/*height: 43px !important;*/
	line-height: 1.42857143;
	border-radius: 1px !important;
}
.form-control:focus {
	border-color: #66D223 !important;
	box-shadow: none !important;
}
#message {
	height: auto !important
}
.fb-profile img.fb-image-lg {
	z-index: 0;
	width: 100%;
	margin-bottom: 10px;
}
.fb-image-profile {
	margin: -90px 10px 0px 50px;
	z-index: 9;
	width: 20%;
}
.fb-image-profile.fb-image-profile-edit {
	margin: -90px 10px 0px 50px;
	z-index: 9;
	width: inherit !important;
}

@media (max-width:768px) {
.fb-profile-text>h1 {
	font-weight: 700;
	font-size: 16px;
}
.fb-image-profile {
	margin: -45px 10px 0px 25px;
	z-index: 9;
	width: 20%;
}
}
