<div class="footer">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<p> &copy; 2016 All Rights Reserved </p>
			<ul class="footer-menu">
				<li><a href="<%= about_path %>"> ABOUT </a></li>
				<li><a href="<%= faq_path %>"> FAQ </a></li>
				<li><a href="<%= privacy_path %>"> TERMS & PRIVACY </a></li>
				<li><a href="<%= contact_path %>"> CONTACT </a></li>
			</ul>
		</div>
	</div>
</div>

<div class="go-top">
	<a href="#top">
		<i class="fa fa-angle-up"></i>
	</a>
</div>