<div class="popup popup-forgot" data-popup="popup-forgot">
	<div class="popup-close-overlay" data-popup="popup-forgot" data-popup-close="popup-forgot"> </div>
	<div class="popup-outer">
		<div class="popup-inner">
			<%= render :template => "devise/passwords/new" %>
			<a class="popup-close" data-popup-close="popup-forgot">x</a> 
		</div>
	</div>
</div>