<div class="sidebar" role="navigation">
	<div class="navbar-collapse">
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<ul class="nav" id="side-menu">
				<div class="go-spo-btn">
					<% if current_user %>
						<a class="btn" href="<%= new_subscription_path %>">
							<img src="<%= image_url("s.png") %>">poophalicious
						</a>
					<% end %>
				</div>
				
				<li>
					<a href="<%= home_path %>" class="home">
						<i class="fa fa-home nav_icon"></i>Home
					</a>
				</li>

				<li>
					<a href="<%= spoop_of_the_year_videos_path %>">
						<i class="fa fa-trophy nav_icon"></i>Spooph Of the Year
					</a>
				</li>
				<li>
					<a href="<%= spoop_of_the_month_videos_path %>">
						<i class="fa fa-trophy nav_icon"></i>Spooph Of the Month
					</a>
				</li>

				<% if current_user %>
					<li>
						<a href="<%= inbox_messages_path %>">
							<i class="fa fa-inbox nav_icon"></i> Mail Box
							<% unread_messages = current_user.received_messages.unread_messages %>
							<% if unread_messages.length > 0 %>
								<span class="badge"> <%= unread_messages.length %> </span>
							<% end %>
							<span class="fa arrow"></span>
						</a>
						<ul class="nav nav-second-level collapse">
							<li>
								<a href="<%= inbox_messages_path %>">
									<i class="fa fa-arrow-circle-down nav_icon"></i> Inbox
								</a>
							</li>
							<li>
								<a href="<%= sent_messages_path %>">
									<i class="fa fa-arrow-circle-up nav_icon"></i> Sent
								</a>
							</li>
							<li>
								<a href="<%= trash_messages_path %>">
									<i class="fa fa-trash nav_icon"></i> Trash
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="<%= cart_pledges_path %>">
							<i class="fa fa-shopping-cart nav_icon"></i>Shopping Cart
						</a>
					</li>
				<% end %>

				<% @themes.all.each do |theme| %>
					<li>
						<a href="<%= theme_path(theme.id) %>">
							<i class="<%= theme.html_class %>"></i>
							<%= theme.name %>
						</a>
					</li>
				<% end %>

				<% if request.user_agent =~ /Mobile|webOS/ %>
					<li class="app-store">
						<a href="#">
							<img src="<%= image_url("apple.png") %>" alt="Apple Store">
						</a>
					</li>
					<li class="app-store">
						<a href="#">
							<img src="<%= image_url("android.png") %>" alt="Android Store">
						</a>
					</li>
					<li class="app-store">
						<a href="#">
							<img src="<%= image_url("windows.png") %>" alt="Windows Store">
						</a>
					</li>
				<% end %>
			</ul>
		</nav>

	</div>
</div>
