<div class="row">
	<div class="col-lg-10 col-md-12 col-sm-12">
		<div class="pagination-full">
			<nav>
				<%= will_paginate(collection, :renderer => PaginationListLinkRenderer) %>
			</nav>
		</div>
	</div>
</div>