<div class="popup share" data-popup="popup-share">
	<div class="popup-close-overlay" data-popup="popup-share" data-popup-close="popup-share"> </div>

	<div class="popup-outer">
		<div class="popup-inner">
			<div class="main-page login-page ">
				<div class="widget-shadow">
					
					<div class="login-top">
						<h4>Share on your favorite social media network</h4>
					</div>

					<div class="login-body">
						<!-- <div class="addthis_sharing_toolbox"></div> -->
						<%= social_share_button_tag(video.title, :url => video_url(video), :image => video.video.url(:medium), :desc => video.description, :via => "Spooph.com") %>
					</div>
				</div>
			</div>

			<a class="popup-close" data-popup-close="popup-share">x</a> 
		</div>
	</div>
</div>