<div class="popup popup-login" data-popup="popup-login">
	<div class="popup-close-overlay" data-popup="popup-login" data-popup-close="popup-login">
	</div>
	<div class="popup-outer">
		<div class="popup-inner">
			<%= render :template => "devise/sessions/new" %>
			<a class="popup-close" data-popup-close="popup-login">x</a> 
		</div>
	</div>
</div>