<div class="popup popup-signup" data-popup="popup-signup">
	<div class="popup-close-overlay" data-popup="popup-signup" data-popup-close="popup-signup">
	</div>
	<div class="popup-outer">
		<div class="popup-inner">
			<%= render :template => "devise/registrations/new" %>
			<a class="popup-close" data-popup-close="popup-signup">x</a> 
		</div>
	</div>
</div>