<div class="sticky-header header-section ">
	<div class="progress-bar-height">
		<div id="myElem" class="row-fluid">
			<%= javascript_include_tag "progress_bar" %>

			<div id="messageBox" class="bar-two bar-con">
				<div class="bar" data-percent="100"></div>
			</div>
		</div>
	</div>


	<div class="header-left">
		<button id="showLeftPush">
			<i class="fa fa-bars"></i>
		</button>

		<div class="logo">
			<a href="<%= root_path %>">
				<img class="img-responsive" src="<%= image_url("logo.png") %>">
			</a>
			<!-- <p class="slogan"><%= current_user.email if current_user %></p> -->
			<p class="slogan">Real People. Real Stuff. Real Funny</p>
		</div>

		<div class="search-box">
			<%= render "videos/search_form" %>
		</div>
		<div class="clearfix"></div>
	</div>


	<div class="col-md-3 col-sm-3 col-xs-6 a-top-btn1">
		<div class="profile_details_left">
			<% if current_user %>
				<a class="pop-click upload-click" data-popup-open="popup-upload" data-toggle="modal">
					<button class="btn btn-default uploads">
						<i class="fa fa-upload"></i> &nbsp; Upload
					</button>
				</a>

				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle uploads" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-cogs"></i> &nbsp; Account
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="<%= profile_user_path(current_user) %>">
								<i class="fa fa-user"></i> &nbsp; My Profile
							</a>
						</li>
						<li>
							<a href="<%= inbox_messages_path %>">
								<i class="fa fa-inbox"></i> &nbsp; Mail Box
							</a>
						</li>
						<li role="separator" class="divider"> </li>
						<li>
							<a href="<%= destroy_user_session_path %>" data-method="delete">
								<i class="fa fa-sign-out"></i> &nbsp; Logout
							</a>
						</li>
					</ul>
				</div>
			<% end %>
			<div class="clearfix"></div>
		</div>
		

		<div class="profile_details">
			<% unless current_user %>
				<a class="pop-click sign-up-click" data-popup-open="popup-signup">
					<button class="btn btn-default signup_button SignUp">
						<i class="fa fa-user"></i> &nbsp; Sign Up
					</button>
				</a>

				<a class="pop-click signin-click" data-popup-open="popup-login">
					<button class="btn btn-default signup_button">
						<i class="fa fa-lock"></i> &nbsp; Signin
					</button>
				</a>
			<% end %>
		</div>

		<div class="clearfix"></div>
	</div>

	<div class="header-right col-md-2 col-sm-2 col-xs-6">
		<ul class="social-bar">
			<li> <a href="#"><i class="fa fa-facebook-square fa-2"></i></a></li>
			<li> <a href="#"><i class="fa fa-twitter-square fa-2"></i></a></li>
			<li> <a href="#"><i class="fa fa-google-plus-square fa-2"></i></a></li>
		</ul>
		<div class="clearfix"></div>
		
		<div class="total-spledges">
			Total Spledges:
			<span class="green"> <%= Pledge.overall_pledged_amount %> </span>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>

<%= render :partial => "layouts/sign_in_popup" %>
<%= render :partial => "layouts/sign_up_popup" %>
<%= render :partial => "layouts/forget_password_popup" %>
<%= render :partial => "videos/new_form" %>
