<!DOCTYPE HTML>
<html>
<head>
	<title> Spooph </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<% if @main_video %>
		<meta property="fb:app_id" content="<%= FACEBOOK_CONFIG[:app_id] %>">
		<meta property="og:type" content="video">
		<meta property="og:url"	content="<%= video_url(@main_video) %>">
		<meta property="og:title" content="<%= @main_video.title %>">
		<meta property="og:description" content="<%= @main_video.description %>">
		<meta property="og:image" content="<%= root_url + @main_video.video.url(:large) %>">
	<% end %>

	<%= stylesheet_link_tag	"application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
</head>


<body class="cbp-spmenu-push" id="top">
	<div class="main-content">
		
		<%= render :partial => "layouts/left_menu" %>
		<%= render :partial => "layouts/sticky_header" %>

		<div id="page-wrapper">
			<% unless request[:controller] == "users" and ["profile", "edit"].include?(request[:action]) %>
				<%= render :partial => "layouts/ads_placeholder" %>
			<% end %>

			<div class="main-page">
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, class: "alert alert-success card" %>
				<% end %>
				<%= yield %>
				<div class="clearfix"></div>
			</div>
		</div>

		<%= render :partial => "layouts/footer" %>
	</div>

	<%= javascript_include_tag "jquery_bottom" %>
</body>
</html>
